/* Style adjustments for websites */
.pageBody {
	padding: 0px 20px 0px 0px;
	min-height: 650px;
}
.topicContent {
	margin-left: 280px;
}

/* Lightweight TOC */
.tocCollapsed {
	background: url('../icons/TocCollapsed.gif') no-repeat scroll center;
	width: 17px;
	height: 20px;
	overflow: hidden;
}
.tocExpanded {
	background: url('../icons/TocExpanded.gif') no-repeat scroll center;
	width: 17px;
	height: 20px;
	overflow: hidden;
}
.tocResize {
	position: absolute;
	top: 90px;
	left: 300px;
	width: 5px;
	height: 20px;
	padding-right: 5px;
}
.tocResize img {
	border: none;
	cursor: pointer;
	margin-top: 20px;
}
div#leftNav {
	height: 100%;
	margin: 0px -1px 0 0;
	width: 280px;
	min-height: 10px;
	position: absolute;
	border-right: 1px solid #ebecee;
	padding-left: 10px;
	padding-top: 15px;
	background: none repeat scroll 0 0 #f5f7f8
}
div#tocNav {
	font-family: Arial,Helvetica,sans-serif;
	overflow-x: hidden;
	line-height: normal;
	margin: -20px 0 0 -4px;
}
div#tocNav > div {
	overflow-x: hidden;
	white-space: normal;
	width: auto;
	margin-bottom: 5px;
}
div#leftNav a, div#leftNav a:link, div#leftNav a:visited {
	color: #000;
    font-size: 13px;
	text-decoration: none;
}
div#leftNav a:hover {
	color: #3390b1;
}
div#tocNav > div > a, div#tocNav > div > a:link, div#tocNav > div > a:visited {
	margin-left: 18px;
	overflow: hidden;
}

div#tocNav  div.current a:nth-child(2) {
	color: #fff !important;
	font-weight: notmal !important;
	background-color: #00b312 !important;
	font-weight: normal !important;
	display: inline-block;
	padding: 2px 8px;
}

div#tocNav > div.current > a, div#tocNav > div.current > a:link, div#tocNav > div.current > a:visited {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
div#tocNav > div > a.tocExpanded, div#tocNav > div > a.tocCollapsed {
	float: left;
	display: inline-block;
	margin-left: 0;
	vertical-align: top;
}
.toclevel0:first-child {
	margin-top: 16px;
}
div#tocNav > div.toclevel1 {
	padding-left: 17px;
}
div#tocNav > div.toclevel2 {
	padding-left: 34px;
}
div#tocNav > div.toclevel3 {
	padding-left: 51px;
}
div#tocNav > div.toclevel4 {
	padding-left: 68px;
}
div#tocNav > div.toclevel5 {
	padding-left: 85px;
}
div#tocNav > div.toclevel6 {
	padding-left: 102px;
}
div#tocNav > div.toclevel7 {
	padding-left: 119px;
}
div#tocNav > div.toclevel8 {
	padding-left: 136px;
}
div#tocNav > div.toclevel9 {
	padding-left: 153px;
}
div#tocNav > div.toclevel10 {
	padding-left: 170px;
}

/* Search form */
form#SearchForm {
    height: 28px;
    margin: 0 0 0 85px;
    position: absolute;
    top: 61px;
    background-color: #fff;
    padding: 0;
	border: 1px solid #D9D9D9;
    max-width: 930px;
	min-width: 500px; 
	left: 18%;
    right: 514px;
	box-shadow: 3px 3px 19px rgba(0, 0, 0, 0.1); 
}
form#SearchForm input { 
	background: transparent; 
	border: 0; 
	width: 93%;
	color: #2a2a2a;
	display: inline-block;
	padding: 3px 5px 4px 10px;
	font-size: 16px;
}
form#SearchForm button {
	background: url('../icons/search.png') no-repeat scroll center; 
	float: right;
	border: 0;
	cursor: pointer;
	color: #2a2a2a;
	padding: 14px 14px 14px 19px;
	width: 13px;
	height: 13px;
	overflow: hidden;
}
.searchContainer {
	width: 700px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

.searchContainer form#SearchForm {
	margin-left: 0px !important;
    margin-right: auto;
    margin-top: 50px;
    width: 700px;
}

.feedbackLink {
	display: none;
}
