
@font-face {
    font-family: 'TelerikFluentIcons';
    src: url(font_path("TelerikFluentIcons.eot"));
    src: url(font_path("TelerikFluentIcons.eot")), url(font_path("TelerikFluentIcons.woff")), url(font_path("TelerikFluentIcons.ttf"));
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  
  /* TelerikFluentIcons start */
  
  .k-i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'TelerikFluentIcons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    /* Custom style for centering the glyphs */
    display: block;
    text-align: center;
    font-size: 20px;
  }
  
  .k-i-arrow-45-up-right:before {
    content: "\e000";
  }
  
  /* TelerikFluentIcons end */