<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    
    <appSettings>
        <clear />
    </appSettings>
    
    <system.web>
        <httpRuntime maxRequestLength="102400" maxUrlLength="102400" maxQueryStringLength="10000" requestValidationType="System.Web.Util.RequestValidator" />
        
        <httpModules>
            <clear />
        </httpModules>
        
        <httpHandlers>
            <clear />
        </httpHandlers>
    </system.web>
    
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />     
        <rewrite>
			<rewriteMaps configSource="redirect.config" />
			<rules>
				<rule name="index" enabled="true" stopProcessing="true">
                    <match url="^/?$" />
                    <action type="Redirect" url="introduction" redirectType="Found" />
                </rule>    
				<rule name="docking_save_load_layout" enabled="true" stopProcessing="true">
                    <match url="^controls/raddocking/features/save-load-layout$" />
                    <action type="Redirect" url="controls/raddocking/features/save-load-layout/overview" />
                </rule>    
				<rule name="docking_save_load_layout_with_html" enabled="true" stopProcessing="true">
                    <match url="^controls/raddocking/features/save-load-layout.html$" />
                    <action type="Redirect" url="controls/raddocking/features/save-load-layout/overview" />
                </rule>    
				<rule name="Rule for redirects">
                    <match url=".*" />
                    <conditions>
                        <add input="{Redirect:{REQUEST_URI}}" pattern="(.+)" />
                    </conditions>
                    <action type="Redirect" url="{C:1}" appendQueryString="true" />
                </rule>				
				 <rule name="add_html_extension" enabled="true" stopProcessing="true">
					<match url="(.*)" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}.html" matchType="IsFile" />
					</conditions>
					<action type="Rewrite" url="{R:1}.html" />
				</rule>
			</rules>
        </rewrite>
		<httpProtocol> 
			<customHeaders> 
				<add name="Cache-Control" value="no-cache" /> 
			</customHeaders> 
		</httpProtocol> 

        <staticContent>
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
        </staticContent>
    </system.webServer>
    
</configuration>
