<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    
    <appSettings>
        <clear />
    </appSettings>
    
    <system.web>
        <httpRuntime maxRequestLength="102400" maxUrlLength="102400" maxQueryStringLength="10000" requestValidationType="System.Web.Util.RequestValidator" />
        
        <httpModules>
            <clear />
        </httpModules>
        
        <httpHandlers>
            <clear />
        </httpHandlers>
    </system.web>
    
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />     
        <rewrite>
			<rewriteMaps configSource="redirect.config" />
			<rules>
				<rule name="index" enabled="true" stopProcessing="true">
                    <match url="^/?$" />
                    <action type="Redirect" url="introduction" redirectType="Found" />
                </rule>    
				<!-- Document Processing Redirects Start -->
				<rule name="pdfprocessing-redirect" enabled="true" stopProcessing="true">
                    <match url="radpdfprocessing/((.*)[^(overview(?\.html))]).*" />
					<conditions> 
						<add input="{REQUEST_FILENAME}" />
					</conditions> 
                    <action type="Redirect" url="http://docs.telerik.com/devtools/document-processing/libraries/{R:0}" redirectType="Permanent" />
                </rule>   
				<rule name="wordsprocessing-redirect" enabled="true" stopProcessing="true">
                    <match url="radwordsprocessing/((.*)[^(overview(?\.html))]).*" />
					<conditions> 
						<add input="{REQUEST_FILENAME}" />
					</conditions> 
                    <action type="Redirect" url="http://docs.telerik.com/devtools/document-processing/libraries/{R:0}" redirectType="Permanent" />
                </rule> 
				<rule name="spreadprocessing-redirect" enabled="true" stopProcessing="true">
                    <match url="radspreadprocessing/((.*)[^(overview(?\.html))]).*" />
					<conditions> 
						<add input="{REQUEST_FILENAME}" />
					</conditions> 
                    <action type="Redirect" url="http://docs.telerik.com/devtools/document-processing/libraries/{R:0}" redirectType="Permanent" />
                </rule> 
					<rule name="ziplibrary-redirect" enabled="true" stopProcessing="true">
                    <match url="radziplibrary/((.*)[^(overview(?\.html))]).*" />
					<conditions> 
						<add input="{REQUEST_FILENAME}" />
					</conditions> 
                    <action type="Redirect" url="http://docs.telerik.com/devtools/document-processing/libraries/{R:0}" redirectType="Permanent" />
                </rule> 
				<!-- Document Processing Redirects End -->

				<rule name="docking_save_load_layout" enabled="true" stopProcessing="true">
                    <match url="^controls/raddocking/features/save-load-layout$" />
                    <action type="Redirect" url="controls/raddocking/features/save-load-layout/overview" />
                </rule>    
				<rule name="docking_save_load_layout_with_html" enabled="true" stopProcessing="true">
                    <match url="^controls/raddocking/features/save-load-layout.html$" />
                    <action type="Redirect" url="controls/raddocking/features/save-load-layout/overview" />
                </rule>    
        
        
				      <rule name="Rule for redirects">
                    <match url=".*" />
                    <conditions>
                        <add input="{Redirect:{REQUEST_URI}}" pattern="(.+)" />
                    </conditions>
                    <action type="Redirect" url="{ToLower{C:1}}" appendQueryString="true" />
                </rule>


        <rule name="Convert to lower case" stopProcessing="true">
          <match url="^([^?]*[A-Z][^?]*)(\?.*)?" ignoreCase="false" />
          <action type="Redirect" url="{ToLower:{R:1}}{R:2}" redirectType="Permanent" />
        </rule>

        <rule name="Hide .html ext">
          <match ignoreCase="true" url="^(.*)"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
            <add input="{REQUEST_FILENAME}.html" matchType="IsFile"/>
          </conditions>
          <action type="Rewrite" url="{ToLower:{R:0}.html}"/>
        </rule>

        <rule name="Redirecting .html ext">
          <match url="^(.*)[.]html"/>
          <conditions logicalGrouping="MatchAny">
            <add input="{URL}" pattern="(.*).html"/>
          </conditions>
          <action type="Redirect" url="{ToLower:{R:1}}"/>
        </rule>
        
        
        
			</rules>
        </rewrite>
		<httpProtocol> 
			<customHeaders> 
				<add name="Cache-Control" value="no-cache" /> 
			</customHeaders> 
		</httpProtocol> 

        <staticContent>
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
        </staticContent>
    </system.webServer>
    
</configuration>
