<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    
    <appSettings>
        <clear />
    </appSettings>
    
    <system.web>
        <httpRuntime maxRequestLength="102400" maxUrlLength="102400" maxQueryStringLength="10000" requestValidationType="System.Web.Util.RequestValidator" />
        
        <httpModules>
            <clear />
        </httpModules>
        
        <httpHandlers>
            <clear />
        </httpHandlers>
    </system.web>
    
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
      <rewrite>
        <rewriteMaps configSource="redirect.config" />
        <rules>
          <rule name="index" enabled="true" stopProcessing="true">
            <match url="^/?$" />
            <action type="Redirect" url="introduction" redirectType="Permanent" />
          </rule>
		  
		   <rule name="for-more-help" enabled="true" stopProcessing="true">
            <match url="for-more-help/(.*)" />
            <action type="Redirect" url="for-more-help" />
          </rule> 
		  
          <!-- Document Processing Redirects Start -->
		  <rule name="pdfprocessing-redirect" enabled="true" stopProcessing="true">
            <match url="radpdfprocessing/((.*)[^(overview(?\.html))]).*" />
            <conditions>
              <add input="{REQUEST_FILENAME}" />
            </conditions>
            <action type="Redirect" url="http://docs.telerik.com/devtools/document-processing/libraries/{R:0}" redirectType="Permanent" />
          </rule>
          <rule name="wordsprocessing-redirect" enabled="true" stopProcessing="true">
            <match url="radwordsprocessing/((.*)[^(overview(?\.html))]).*" />
            <conditions>
              <add input="{REQUEST_FILENAME}" />
            </conditions>
            <action type="Redirect" url="http://docs.telerik.com/devtools/document-processing/libraries/{R:0}" redirectType="Permanent" />
          </rule>
          <rule name="spreadprocessing-redirect" enabled="true" stopProcessing="true">
            <match url="radspreadprocessing/((.*)[^(overview(?\.html))]).*" />
            <conditions>
              <add input="{REQUEST_FILENAME}" />
            </conditions>
            <action type="Redirect" url="http://docs.telerik.com/devtools/document-processing/libraries/{R:0}" redirectType="Permanent" />
          </rule>
          <rule name="ziplibrary-redirect" enabled="true" stopProcessing="true">
            <match url="radziplibrary/((.*)[^(overview(?\.html))]).*" />
            <conditions>
              <add input="{REQUEST_FILENAME}" />
            </conditions>
            <action type="Redirect" url="http://docs.telerik.com/devtools/document-processing/libraries/{R:0}" redirectType="Permanent" />
          </rule>
          <!-- Document Processing Redirects End -->

          <rule name="docking_save_load_layout" enabled="true" stopProcessing="true">
            <match url="^controls/raddocking/features/save-load-layout$" />
            <action type="Redirect" url="controls/raddocking/features/save-load-layout/overview" />
          </rule>
          <rule name="docking_save_load_layout_with_html" enabled="true" stopProcessing="true">
            <match url="^controls/raddocking/features/save-load-layout.html$" />
            <action type="Redirect" url="controls/raddocking/features/save-load-layout/overview" />
          </rule>

          <!--<rule name="Rule for redirects">
            <match url=".*" />
            <conditions>
              <add input="{Redirect:{REQUEST_URI}}" pattern="(.+)" />
            </conditions>
            <action type="Redirect" url="{ToLower:{C:1}}" appendQueryString="true" />
          </rule>-->

          <rule name="Convert to lower case" enabled="true">
            <match url="^([^?]*[A-Z][^?]*)(\?.*)?" ignoreCase="false" />
            <conditions>
              <add input="{REQUEST_FILENAME}" pattern="\.png|\.css|\.jpg|\.gif" negate="true" />
            </conditions>
            <action type="Redirect" url="{ToLower:{R:1}}{R:2}" redirectType="Permanent" />
          </rule>

          <rule name="Hide .html ext" enabled="true">
            <match ignoreCase="true" url="^(.*)"/>
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
              <add input="{REQUEST_FILENAME}" pattern="\.png|\.css|\.jpg|\.gif" negate="true" />
              <add input="{REQUEST_FILENAME}.html" matchType="IsFile"/>
            </conditions>
            <action type="Rewrite" url="{ToLower:{R:0}.html}"/>
          </rule>
          
          <rule name="Redirecting .html ext" enabled="true">
            <match url="^(.*)[.]html"/>
            <conditions logicalGrouping="MatchAny">
              <add input="{URL}" pattern="(.*)[.]html"/>
            </conditions>
            <action type="Redirect" url="{ToLower:{R:1}}"/>
          </rule>

          
          <!--THE BELOW RULES WERE ADDED DUE TO A REQUEST FROM THE MARKETING TEAM -> SNenchev-->
          
          <!--several links in our API page are failing , removing the allmembers_t_ from the url redirects to the correct link-->
          <!--For Example:
          http://docs.telerik.com/devtools/wpf/api/html/allmembers_t_telerik_windows_controls_radbutton.htm should point to http://docs.telerik.com/devtools/wpf/api/html/t_telerik_windows_controls_radbutton.htm-->
          
          <rule name="remove 'allmembers_' from url">
            <match url="api[/]html[/]allmembers_([/_0-9a-z-]+)"/>
            <action type="Redirect" url="api/html/{ToLower:{R:1}.htm}"/>
          </rule>
          

          <!--Single Rules for broken links-->
         
		  
          <rule name="Load-on-demand" enabled="true" stopProcessing="true">
            <match url="^controls/radtreeview/populating-with-data/radtreeview-features-load-on-demand" />
            <action type="Redirect" url="controls/radtreeview/features/load-on-demand" />
          </rule>

          <rule name="data-binding-common-overview" enabled="true" stopProcessing="true">
            <match url="^data-binding/common-overview"/>
            <action type="Redirect" url="introduction" />
          </rule>

          <rule name="event-to-command-behavior" enabled="true" stopProcessing="true">
            <match url="^patterns-and-practices/event-to-command/eventtocommand-blend"/>
            <action type="Redirect" url="common-event-to-command-behavior"/>
          </rule>

          <rule name="style-manager-custom-theme" enabled="true" stopProcessing="true">
            <match url="^styling-and-appearance/stylemanager/creating-a-custom-theme/common-styling-apperance-themes-custom-theme-project-telerik-approach"/>
            <action type="Redirect" url="styling-and-appearance/stylemanager/common-styling-apperance-setting-theme-wpf"/>
          </rule>

          <rule name="radexpander-getting-started" enabled="true" stopProcessing="true">
            <match url="^controls/radexpander/overview/expander-getting-started"/>
            <action type="Redirect" url="controls/radexpander/expander-getting-started"/>
          </rule>

          <rule name="radgridview-copying" enabled="true">
            <match url="^controls/radgridview/clipboard/gridview-copying"/>
            <action type="Redirect" url="controls/radgridview/clipboard/copying"/>
          </rule>

          <rule name="radgridview-pasting" enabled="true">
            <match url="^controls/radgridview/clipboard/gridview-pasting"/>
            <action type="Redirect" url="controls/radgridview/clipboard/pasting"/>
          </rule>

          <rule name="composite-filter-descriptors" enabled="true" >
            <match url="^controls/radgridview/filtering/composite-filter-descriptors"/>
            <action type="Redirect" url="controls/radgridview/filtering/programmatic#compositefilterdescriptor"/>
          </rule>

          <rule name="filtering-dataformatstring" enabled="true" stopProcessing="true">
            <match url="^controls/radgridview/filtering/faq/gridview-dataformatstring-and-filtering"/>
            <action type="Redirect" url="controls/radgridview/filtering/faq/dataformatstring-and-filtering"/>
          </rule>

          <rule name="filtering-datetime" enabled="true" stopProcessing="true">
            <match url="^controls/radgridview/filtering/faq/gridview-datetime-filtering"/>
            <action type="Redirect" url="controls/radgridview/filtering/faq/datetime-filtering"/>
          </rule>

          <rule name="filtering-ivalueconverter" enabled="true" stopProcessing="true">
            <match url="^controls/radgridview/filtering/faq/gridview-ivalueconverter-and-filtering"/>
            <action type="Redirect" url="controls/radgridview/filtering/faq/ivalueconverter-and-filtering"/>
          </rule>

          <rule name="gridview-stackoverflow exception" enabled="true" stopProcessing="true">
            <match url="^controls/radgridview/filtering/faq/gridview-stackoverflow-exception"/>
            <action type="Redirect" url="controls/radgridview/filtering/faq/stackoverflow-exception"/>
          </rule>

          <rule name="gridview-filtering-basic" enabled="true" stopProcessing="true">
            <match url="^controls/radgridview/filtering/basic-filtering2"/>
            <action type="Redirect" url="controls/radgridview/filtering/basic"/>
          </rule>

          <rule name="gridview-filtering-all-values" enabled="true" stopProcessing="true">
            <match url="^controls/radgridview/filtering/gridview-not-all-values-shown-filtering"/>
            <action type="Redirect" url="controls/radgridview/filtering/how-to/howto-display-all-distinct-values"/>
          </rule>

          <rule name="gridview-grouping-generic-descriptor" enabled="true" stopProcessing="true">
            <match url="^controls/radgridview/grouping/how-to/gridview-generic-descriptor"/>
            <action type="Redirect" url="controls/radgridview/grouping/how-to/generic-descriptor"/>
          </rule>

          <rule name="gridview-grouping-modify-grouptemplates" enabled="true" stopProcessing="true">
            <match url="^controls/radgridview/grouping/how-to/gridview-modify-grouptemplates"/>
            <action type="Redirect" url="controls/radgridview/grouping/how-to/modify-grouptemplates"/>
          </rule>

          <rule name="gridview-rowdetails-display-window" enabled="true" stopProcessing="true">
            <match url="^controls/radgridview/row-details/how-to/gridview-display-window"/>
            <action type="Redirect" url="controls/radgridview/row-details/how-to/display-window"/>
          </rule>

          <rule name="gridview-rowdetails-find-control-rowdetails" enabled="true" stopProcessing="true">
            <match url="^controls/radgridview/row-details/how-to/gridview-find-control-row-details"/>
            <action type="Redirect" url="controls/radgridview/row-details/how-to/find-control-row-details"/>
          </rule>

          <rule name="gridview-selection-unfocused-state" enabled="true" stopProcessing="true">
            <match url="^controls/radgridview/selection/how-to/gridview-unfocused-state"/>
            <action type="Redirect" url="controls/radgridview/selection/how-to/unfocused-state"/>
          </rule>

          <rule name="gridview-sorting-generic-descriptor" enabled="true" stopProcessing="true">
            <match url="^controls/radgridview/sorting/how-to/gridview-generic-descriptor"/>
            <action type="Redirect" url="controls/radgridview/sorting/how-to/generic-descriptor"/>
          </rule>

          <rule name="gridview-troubleshooting-styling-custom-header" enabled="true" stopProcessing="true">
            <match url="^controls/radgridview/troubleshooting/gridview-styling-custom-header"/>
            <action type="Redirect" url="controls/radgridview/troubleshooting/styling-custom-header"/>
          </rule>

          <rule name="radoutlookbar-visual-structure" enabled="true" stopProcessing="true">
            <match url="^controls/radoutlookbar/general-information/visual-structure"/>
            <action type="Redirect" url="controls/radoutlookbar/visual-structure"/>
          </rule>

          <rule name="radoutlookbar-getting-started" enabled="true" stopProcessing="true">
            <match url="^controls/radoutlookbar/getting-started/getting-started"/>
            <action type="Redirect" url="controls/radoutlookbar/getting-started"/>
          </rule>

          <rule name="radspreadshit-overview" enabled="true" stopProcessing="true">
            <match url="^controls/radspreadsheet/getting-started/ui-what-is-radspreadsheet"/>
            <action type="Redirect" url="controls/radspreadsheet/overview"/>
          </rule>

          <rule name="radcolorpicker-colorselector-populating" enabled="true" stopProcessing="true">
            <match url="^controls/radcolorpicker/features/colorselector-getting-started"/>
            <action type="Redirect" url="controls/radcolorpicker/features/radcolorselector/colorselector-populating"/>
          </rule>

          <rule name="radgridview-filtering-clear-all-filters" enabled="true" stopProcessing="true">
            <match url="^controls/radgridview/filtering/how-to/howto-clear-all-filters"/>
            <action type="Redirect" url="controls/radgridview/filtering/programmatic#clearing-multiple-column-filters"/>
          </rule>

          <rule name="radtilelist-howto-clear-modify-view" enabled="true" stopProcessing="true">
            <match url="^controls/radtilelist/howto/modifying-tilelist-view"/>
            <action type="Redirect" url="controls/radtilelist/howto/modifying-view"/>
          </rule>

          <rule name="radtimeline-vertical-position" enabled="true" stopProcessing="true">
            <match url="^controls/radtimeline/features/howto-control-vertical-position-of-timeline-items"/>
            <action type="Redirect" url="controls/radtimeline/features/howto-control-vertical-position-of-items"/>
          </rule>
          
          <!--Single Rules for broken links-->

          <!--The following rules were requested for the SmartTags feature-->

          <rule name="radtransition-overview-rule" enabled="true" stopProcessing="true">
            <match url="^controls/radtransitioncontrol/overview"/>
            <action type="Redirect" url="controls/radtransitioncontrol/radtransition-overview"/>
          </rule>

          <rule name="radbreadcrumb-overview-rule" enabled="true" stopProcessing="true">
            <match url="^controls/radbreadcrumb/overview"/>
            <action type="Redirect" url="controls/radbreadcrumb/overvew"/>
          </rule>

          <rule name="raddocking-overview-rule" enabled="true" stopProcessing="true">
            <match url="controls/raddocking/overview$"/>
            <action type="Redirect" url="controls/raddocking/overview2"/>
          </rule>

          <rule name="radbook-overview-rule" enabled="true" stopProcessing="true">
            <match url="^controls/radbook/overview"/>
            <action type="Redirect" url="controls/radbook/getting-started"/>
          </rule>

          <rule name="radcarousel-overview-rule" enabled="true" stopProcessing="true">
            <match url="^controls/radcarousel/overview$"/>
            <action type="Redirect" url="controls/radcarousel/carousel-overview"/>
          </rule>

          <rule name="radcontextmenu-overview-rule" enabled="true" stopProcessing="true">
            <match url="^controls/radcontextmenu/overview"/>
            <action type="Redirect" url="controls/radcontextmenu/contextmenu-overview1"/>
          </rule>

          <rule name="radtabcontrol-overview-rule" enabled="true" stopProcessing="true">
            <match url="^controls/radtabcontrol/overview$"/>
            <action type="Redirect" url="controls/radtabcontrol/overview2"/>
          </rule>

          <rule name="radtreeview-overview-rule" enabled="true" stopProcessing="true">
            <match url="^controls/radtreeview/overview$"/>
            <action type="Redirect" url="controls/radtreeview/overview2"/>
          </rule>

          <rule name="radcollectionnavigator-overview-rule" enabled="true" stopProcessing="true">
            <match url="^controls/radcollectionnavigator/overview"/>
            <action type="Redirect" url="controls/radcollectionnavigator/collectionnavigator_overview"/>
          </rule>

          <rule name="raddatafilter-overview-rule" enabled="true" stopProcessing="true">
            <match url="^controls/raddatafilter/overview"/>
            <action type="Redirect" url="controls/raddatafilter/datafilter-overview"/>
          </rule>

          <rule name="raddatapager-overview-rule" enabled="true" stopProcessing="true">
            <match url="^controls/raddatapager/overview"/>
            <action type="Redirect" url="controls/raddatapager/datapager-overview"/>
          </rule>

          <rule name="raddomaindatasource-overview-rule" enabled="true" stopProcessing="true">
            <match url="^controls/raddomaindatasource/overview"/>
            <action type="Redirect" url="controls/raddomaindatasource/dds-overview"/>
          </rule>

          <rule name="radentityframeworkdatasource-overview-rule" enabled="true" stopProcessing="true">
            <match url="^controls/radentityframeworkdatasource/overview"/>
            <action type="Redirect" url="controls/radentityframeworkdatasource/entityframework-overview"/>
          </rule>

          <rule name="radgridview-overview-rule" enabled="true" stopProcessing="true">
            <match url="^controls/radgridview/overview$"/>
            <action type="Redirect" url="controls/radgridview/overview2"/>
          </rule>
		 
          <!--The following rules were requested for the SmartTags feature-->

          <!--Implicit Styles  redirects-->
          <rule name="common-implicit-styles-styling-appearance-themes-runtime" enabled="true" stopProcessing="true">
            <match url="^styling-and-appearance/styling-apperance-themes-runtime"/>
            <action type="Redirect" url="styling-and-appearance/how-to/styling-apperance-themes-runtime"/>
          </rule>

          <rule name="common-implicit-styles-switching-themes-design-time" enabled="true" stopProcessing="true">
            <match url="^styling-and-appearance/styling-apperance-switching-themes-design-time"/>
            <action type="Redirect" url="styling-and-appearance/how-to/styling-apperance-switching-themes-design-time"/>
          </rule>

          <rule name="common-implicit-styles-custom-styles-themes-runtime" enabled="true" stopProcessing="true">
            <match url="^styling-and-appearance/styling-apperance-custom-styles-themes-runtime"/>
            <action type="Redirect" url="styling-and-appearance/how-to/styling-apperance-custom-styles-themes-runtime"/>
          </rule>

          <rule name="common-implicit-switching-icons-at-runtime" enabled="true" stopProcessing="true">
            <match url="^styling-and-appearance/styling-apperance-switching-icons-at-runtime"/>
            <action type="Redirect" url="styling-and-appearance/how-to/styling-apperance-switching-icons-at-runtime"/>
          </rule>

          <rule name="common-implicit-appearance-office2016-theme" enabled="true" stopProcessing="true">
            <match url="^styling-and-appearance/common-styling-appearance-office2016-theme"/>
            <action type="Redirect" url="styling-and-appearance/themes-suite/common-styling-appearance-office2016-theme"/>
          </rule>

          <rule name="common-implicit-appearance-colorizing-metro-theme" enabled="true" stopProcessing="true">
            <match url="^styling-and-appearance/common-styles-appearance-colorizing-metro-theme"/>
            <action type="Redirect" url="styling-and-appearance/themes-suite/common-styles-appearance-colorizing-metro-theme"/>
          </rule>

          <rule name="common-implicit-appearance-green-theme" enabled="true" stopProcessing="true">
            <match url="^styling-and-appearance/common-styling-appearance-green-theme"/>
            <action type="Redirect" url="styling-and-appearance/themes-suite/common-styling-appearance-green-theme"/>
          </rule>

          <rule name="common-implicit-appearance-office2013-theme" enabled="true" stopProcessing="true">
            <match url="^styling-and-appearance/common-styling-appearance-office2013-theme"/>
            <action type="Redirect" url="styling-and-appearance/themes-suite/common-styling-appearance-office2013-theme"/>
          </rule>

          <rule name="common-implicit-visualstudio2013-theme" enabled="true" stopProcessing="true">
            <match url="^styling-and-appearance/common-styling-appearance-visualstudio2013-theme"/>
            <action type="Redirect" url="styling-and-appearance/themes-suite/common-styling-appearance-visualstudio2013-theme"/>
          </rule>

          <rule name="common-implicit-themes-mscontrols" enabled="true" stopProcessing="true">
            <match url="^styling-and-appearance/styling-apperance-themes-mscontrols"/>
            <action type="Redirect" url="styling-and-appearance/how-to/styling-apperance-themes-mscontrols"/>
          </rule>

          <rule name="common-implicit-styles-redirect-rule" enabled="true" stopProcessing="true">
            <match url="^styling-and-appearance/styling-apperance-implicit-styles-overview"/>
            <action type="Redirect" url="styling-and-appearance/styling-apperance-setting-a-theme-overview"/>
          </rule>

          <!--Implicit Styles  redirects-->

          <rule name="radgridview-commands-eventtocommandbehavior-rule" enabled="true" stopProcessing="true">
            <match url="^controls/radgridview/commands/eventtocommandbehavior"/>
            <action type="Redirect" url="common-event-to-command-behavior"/>
          </rule>

          <rule name="radgridview-filtering-howto-clear-a-specific-column-filter" enabled="true" stopProcessing="true">
            <match url="^controls/radgridview/filtering/how-to/howto-clear-a-specific-column-filter"/>
            <action type="Redirect" url="controls/radgridview/filtering/programmatic#clearing-a-single-column-filter"/>
          </rule>

          <rule name="radcarousel1" enabled="true" stopProcessing="true">
            <match url="^controls/radcarousel/overview/carousel-overview"/>
            <action type="Redirect" url="controls/radcarousel/carousel-overview"/>
          </rule>

          <rule name="radcarousel2" enabled="true" stopProcessing="true">
            <match url="^controls/radcarousel/getting-started/carousel-getting-started"/>
            <action type="Redirect" url="controls/radcarousel/carousel-getting-started"/>
          </rule>
          
	        <rule name="radbulletgraph-overview" enabled="true" stopProcessing="true">
            <match url="^controls/radbulletgraph/overview"/>
            <action type="Redirect" url="controls/radbulletgraph/radbulletgraph_overview"/>
          </rule>
	  
	        <rule name="radsparkline-overview" enabled="true" stopProcessing="true">
            <match url="^controls/radsparkline/overview"/>
            <action type="Redirect" url="controls/radsparkline/radsparkline_overview"/>
          </rule>

          <rule name="mvvm-helpers-eventtocommandbehavior-rule" enabled="true" stopProcessing="true">
            <match url="^common-event-to-command-behavior"/>
            <action type="Redirect" url="mvvm-helpers/common-event-to-command-behavior"/>
         </rule>
  
          <rule name="raddatafilter-how-to-filter-radgridview-rule" enabled="true" stopProcessing="true">
            <match url="^controls/raddatafilter/how-to/filter-radgridview"/>
            <action type="Redirect" url="controls/raddatafilter/datafilter-getting-started#filter-radgridview"/>
          </rule>

          <rule name="edit-templates-blend-rule" enabled="true" stopProcessing="true">
            <match url="^common-blend-support"/>
            <action type="Redirect" url="styling-and-appearance/stylemanager/common-styling-appearance-edit-control-templates-blend"/>
          </rule>
	  
        </rules>
      </rewrite>
		<httpProtocol> 
			<customHeaders> 
				<add name="Cache-Control" value="no-cache" /> 
			</customHeaders> 
		</httpProtocol> 

        <staticContent>
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
        </staticContent>
    </system.webServer>
    
</configuration>
