a.all-components {
  background-image: url("/devtools/silverlight/assets/article-menu.svg");
}

span.all-components-expanded-icon {
  background-image: url("/devtools/silverlight/assets/group-expand-collapse.svg");
}

/* Feedback Styles */

.feedback-row {
  background-image: url("/devtools/silverlight/assets/feedback-bgr.svg");
  background-size: cover;
  background-repeat: repeat-x;
  padding-top: 14px;
  padding-bottom: 13px;
  font-size: 20px;
  font-weight: 500;
  z-index: 1100;
}

.button-close {
  position: absolute;
  top: 12px;
  right: 12px;
  border: 0;
  width: 32px;
  height: 32px;
  background: url("/devtools/silverlight/assets/close.svg") no-repeat 50% 50%;
}

/* Search */

.global-search input {
  background-image: url("/devtools/silverlight/assets/search.svg");
}

.local-search input {
  background: url("/devtools/silverlight/assets/search.svg") #fff no-repeat 10px 50%;
}

#refine-search-popup li:hover {
  background-color: #27A306;
}

/*Icon font*/

@font-face {
  font-family: 'WebComponentsIcons';
  src: url("/devtools/silverlight/assets/WebComponentsIcons.eot");
  src: url("/devtools/silverlight/assets/WebComponentsIcons.eot"), url("/devtools/silverlight/assets/WebComponentsIcons.woff"), url("/devtools/silverlight/assets/WebComponentsIcons.ttf"), url("/devtools/silverlight/assets/WebComponentsIcons.svg");
  font-weight: normal;
  font-style: normal;
}

.WebComponentsIcons {
  list-style: none;
  margin: 0;
  padding: 0;
}

.WebComponentsIcons::after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
}

.WebComponentsIcons li {
  margin: 10px;
  padding: 10px;
  display: block;
  float: left;
  vertical-align: top;
  text-align: center;
  width: 140px;
  height: 80px;
  font-size: 12px;
  font-weight: 300;
  color: #999;
}

.WebComponentsIcons .k-icon {
  display: block;
  clear: both;
  margin: 0 auto 10px;
  color: #656565;
  font-size: 32px;
}

.k-icon {
  width: 1em;
  height: 1em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-family: 'WebComponentsIcons';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
  text-decoration: none;
  display: inline-block;
}

.k-i-silverlight::before {
  content: "\e658";
}
