body, html,
#page-tabs,
#page-tabs li,
#markdown-toc ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

html {
    height: 100%;
}

body, html {
    min-height: 100%;
	overflow: hidden;
}

body {
    color: #555;
    font: 400 14px Arial, Helvetica, sans-serif;
    position: relative;
}

a img {
    border-width: 0;
}

/* Header */

#page-header {
    background-color: #2a2d33;
    font-size: 12px;
}

#page-header:after {
    clear: both;
    content: "";
    display: block;
}

#page-header a {
    text-decoration: none;
}

#logo-bar,
#logo-bar-sl {
    font-size: 14px;
	float: left;
    margin-bottom: 1.717em;
    margin-left: 1.833em;
    margin-top: 1.617em;
}

#logo-bar a,
#logo-bar-sl a {
	display: inline-block;
	background: url('../images/telerik_logo_wpf.png') 0 center no-repeat;
	height: 33px;
	color: #fff;
	width: 236px;
}

#logo-bar span {
	display: none;
}

#logo-bar-sl a{
	background: url('../images/telerik_logo_sl.png') 0 center no-repeat;
}

#logo-bar-sl span {
	display: none;
}

.nav-buttons {
    float: right;
}

.btn {
	background-clip: padding-box;
    background-color: #2a2d33;
    border: 1px solid #505156;
    border-radius: 2px;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    line-height: 0.933em;
    margin: 1.467em 0.267em;
    padding: 0.667em 2em;
    position: relative;
    text-align: center;
    transition-duration: 0.2s;
    transition-property: background-color, color;
    transition-timing-function: ease;
}

.btn:hover {
    color: #fff;
    background-color: #505156;
}

.btn-primary {
    background-color: #ee5315;
    border-color: #ee5315;
    margin-right: 1.200em;
}

.btn-primary:hover {
    background-color: #c2410e;
    border-color: #c2410e;
    cursor: pointer;
}

#page-top {
    /* position: relative; */
   /*  height: 80px; 
    border-bottom: 2px solid #ebecee;*/
}

/* Tabs */

#page-tabs {
    list-style: none;
    background-color: #f5f7f8;
    padding-left: 20px;
}

#page-tabs li {
    display: inline-block;
    padding: 0 20px 3px;
    line-height: 58px;
}

#page-tabs .active {
    padding-bottom: 0;
    border-bottom: 3px solid #00b312;
}

#page-tabs a {
    display: inline-block;
    color: #2d3e50;
    text-decoration: none;
    font-size: 14px;
}

/* Search */

.toggle-nav {
    width: 24px; 
    height: 24px;
    background: transparent; 
    display: none; 
    position: relative;
    margin-left: 1.833em;
    cursor: pointer;
}

#page-search {
    margin: 0;
    position: absolute;
    top: 10px;
    background-color: transparent;
    padding: 0;
    right: 514px;
    text-align: right;
    left: 20%;
}

#page-search.search-visibility {
    background-color: #2a2d33;
    display: block;
    left: 1.83em;
    margin-top: 0;
    position: relative;
    right: 1.83em;
    top: -1.7em;
    width: calc(100% - 3.666em);
}

#page-search form > table {
    border: 1px solid #D9D9D9;
}

#page-search .gsc-input-box {
    box-shadow: none;
    border: 0;
}

#page-search .gsc-input td+td {
    display: none;
}

#page-search table.gsc-search-box td {
    background-color: #fff;
}

#page-breadcrumb {
	display: inline-block;
}

#page-breadcrumb ul {
    list-style: none;
    padding: 0;
}

#page-breadcrumb li {
    display: inline-block;
}

#page-breadcrumb .link::after {
    content: ">";
    margin: 0 8px;
}

#page-search .gsc-control-cse {
    background: none;
    border: 0;
}

#page-search .gsc-input {
    background-image: none !important;
    padding-right: 2px;
}

#page-search td.gsc-search-button {
    background: transparent url(../images/search.png) no-repeat 50% 50%;
    cursor: pointer;
}

#page-search input.gsc-search-button {
    border-radius: 0;
    margin: 0;
    border: 0;
    padding: 13px 13px 12px;
    background: none;
    opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	/* IE 5-7 */
	filter: alpha(opacity=0);
	/* Safari 1.x */
	-khtml-opacity: 0;
}

#page-search > div {
    display: inline-block;
    text-align: left;
    width: 100%;
}

#page-header #page-search input.gsc-search-button {
    padding: 8px 7px 7px;
}

/* Topic navigation */

#page-nav {
    float: left;
    width: 20%;
	height: 100% !important;
	top: 0;
    left: 0;
    overflow: auto;
    position: absolute;
	background: none repeat scroll 0 0 #f5f7f8;
    border-right: 1px solid #ebecee;
	z-index: 1;
}

#page-tree {
    padding: 20px 20px 0 30px;
    white-space: normal;
    /*word-break: break-word;*/
    overflow: hidden;
}
#page-nav .k-icon,
#page-nav .k-sprite {
 width: 16px;
}

#page-nav .k-plus { background: url(../images/close.png) no-repeat; }
#page-nav .k-minus { background: url(../images/open.png) no-repeat; }

#page-nav .article {
	background: url(../images/file.png) no-repeat;
	position: absolute;
	margin-left: -21px;
	margin-top: 2px;
}

#page-nav .k-in {
    line-height: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
}

#page-nav .k-in a {
	margin: -1px -.3333em -1px -.25em;
	padding: 1px .3333em 1px .25em;
	display: inline-block;
}

#page-nav .k-in,
#page-nav .k-in a {
    border: 0;
    color: #000;
    text-decoration: none;
    font-size: 13px;
}

#page-nav .k-state-selected {
    background-color: #00b312;
}

#page-nav .k-state-selected,
#page-nav .k-state-selected a {
    color: #fff;
}

#page-nav.nav-visibility {
	display: block;
}

#page-api {
	padding: 0 0 30px 30px;
}

#page-api .k-in {
	margin: -2px;
}

/* Table of contents */

#markdown-toc {
    border-bottom: 1px solid #ebecee;
    font-size: 12px;
}

#markdown-toc > ul > li {
    display: inline-block;
    position: relative;
}

#markdown-toc li > ul {
    position: absolute;
    max-height: 400px;
    width: 500px;
    overflow: auto;
    background: #fff;
    border: 1px solid #f5f7f8;
    box-shadow: 3px 3px 3px #f5f7f8;
    padding: 1em 0;
}

#markdown-toc a {
    padding: 0 14px;
    text-decoration: none;
    line-height: 1.8em;
}

#markdown-toc a:hover {
    text-decoration: underline;
}

#markdown-toc code,
#markdown-toc em {
    display: none;
}

#markdown-toc .section > a {
    line-height: 50px;
    font-size: 1.1em;
    font-weight: bold;
    display: inline-block;
    padding-right: 30px;
    background: transparent url(../images/arrow.png) 90% 50% no-repeat;
}

#markdown-toc .section > a:hover {
    background-color: #f5f7f8;
    text-decoration: none;
}

#markdown-toc .section a {
    color: #428bca;
}

/* Index page */

#introduction #page-search {
    background-color: #f3f5f7;
    padding: 3em 0;
    height: 75px;
}

#introduction #page-search > div {
    width: 800px;
    margin: 0 auto;
}

#introduction #page-search .gsc-input-box {
    height: 36px;
}

#introduction #page-search .gsc-input {
    font-size: 18px;
}

#introduction #page-search table.gsc-search-box td {
    vertical-align: top;
    padding-top: 7px;
}

#category-list {
    text-align: center;
    padding-top: 5em;
    width: 900px;
    margin: 0 auto;
}

.category {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    overflow: hidden;
    margin: 4%;
    text-align: left;
    text-decoration: none;
}

.category:hover h2 {
    text-decoration: underline;
}

.category img {
    float: left;
}

.category-info {
    color: #555;
    padding-left: 100px;
}

.category-info h2 {
    color: #428bca;
    margin-top: 0;
}


/* Article pages */

.faux-columns {
    background: #fff;
}

#page-inner-content {
    position: relative;
    overflow: hidden;
    margin: 0;
	clear: both;
}

#page-inner-content:after {
    content: " ";
    font-size: 0;
    line-height: 0;
    clear: both;
    display: block;
}

#page-article {
    background-color: #fff;
    bottom: 0;
    box-sizing: border-box;
    line-height: 1.5;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 0;
	width: 80%;
}

#page-article h1:after {
    border-bottom: 2px solid #ebecee;
    content: " ";
    display: block;
    font-size: 0;
    height: 1px;
    position: relative;
    width: 100%;
}

#page-article h1 {
	font-size: 2em;
}

a {
    color: #428bca;
}

a:hover {
    color: #036c9c;
}

h1,h2,h3,h4,h5,h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #000;
    text-decoration: none;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    padding-left: 25px;
    margin-left: -25px;
	display: block;
}

h1 a:hover, h2 a:hover, h3 a:hover,
h4 a:hover, h5 a:hover, h6 a:hover {
    background: transparent url(../images/anchor.png) no-repeat 0px 50%;
}

h2 {
    margin: 2em 0em 1em 0;
}

h3 {
    border-top: 2px solid #ebecee;
    padding-top: 20px;
    margin-top: 40px;
}

h2 + h3 {
    border-top: 0;
    margin-top: 0;
}

h3 code, h3 em {
    color: #666;
    font-family: monospace;
    font-size: 15px;
}

h3 code {
    margin-left: 10px;
}

h3 em {
    font-style: normal;
    font-weight: bold;
}

blockquote,
blockquote.note  {
    color: #555;
    padding: 10px 10px 10px 64px;
    background: #d9f0f7 url(../images/note-icon.png) no-repeat 15px center;
    margin: 5px 0;
	min-height: 40px;
}

blockquote.important {
	background: #f8eee3 url(../images/important-icon.png) no-repeat 15px center;
}

blockquote.caution {
	background: #eddee1 url(../images/caution-icon.png) no-repeat 15px center;
}

blockquote.tip {
	background: #def4e4 url(../images/tip-icon.png) no-repeat 15px center;
}

blockquote a {
    color: #428BCA;
}

blockquote table {
    border: 0;
    border-collapse: collapse;
}

blockquote th, blockquote td {
    border-color: #F2BB72;
    padding: .5em;
}

.prettyprint {
    font-size: 12px;
    padding: 20px;
	background-color: #fbfdfe;
    border: 2px dashed #ebecee;	
	margin: 5px 0;
}

pre .nocode { background-color: transparent; color: #000; }
pre .str,                    /* string */
pre .atv { color: #2db245; } /* attribute value */
pre .kwd { color: #ff3399; } /* keyword */
pre .com { color: #9933cc; } /* comment */
pre .typ { color: #000; } /* type */
pre .lit { color: #0099ff; } /* literal */
pre .pun { color: #333; }    /* punctuation */
pre .pln { color: #3e526b; }    /* plaintext */
pre .tag { color: #3e526b; } /* html/xml tag */
pre .atn { color: #3e526b; } /* attribute name */
pre .dec { color: #3e526b; } /* decimal */

/* Footer */
#footer
{
    background-color: #2a2d33;
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-links {
    display: inline-block;
    font-size: 11px;
    color: #fff;
    padding: 0 8px;
    font: 400 11px/1 Arial,Helvetica,sans-serif;
    border-left: 1px solid #47494c;
}

.footer-links:first-child {
    border-left: 0;
    padding-left: 0;
}

a.footer-links:hover {
    color: #49c3fb;
    text-decoration: underline;
}

.quick-links {
	padding-top: 1.917em;
	padding-bottom: 1em;
	padding-left: 36px;
}

#page-edit-link {
	position: absolute;
	z-index: 10;
	right: 28px;
	top: 10px;
	margin: 0;
	text-decoration: none;
}

#logo-bar ul,
#logo-bar-sl ul {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

#logo-bar li,
#logo-bar-sl li  {
    display: inline-block;
    vertical-align: middle;
}
#logo-bar li::before,
#logo-bar-sl li::before {
    content: "";
    display: inline-block;
    height: 40px;
    width: 12px;
    background: url("../images/nav-arrow.png") no-repeat center center;
    background-size: 12px 40px;
    margin: 0 14px;
    vertical-align: middle;
}

.logo {
    font-size: 14px;
    margin-left: 29px;
}

.logo em {
    background: url('../images/tap-logo.png') 0 center no-repeat;
    background-size: 14px 14px;
    display: inline-block;
    width: 14px;
    height: 13px;
    margin-right: 1px;
}

.logo strong {
    color: #fff;
    margin-right: 6px;
}

#telerik-logo {
    background: transparent url(../images/icon-telerik-badge.png) 0 0 no-repeat;
    width: 30px;
    height: 27px;
    float: left;
}

.copyright {

    padding-left: 36px;
    padding-bottom: 24px;
}

.copyright p {
    font-size: 11px;
    margin-left: 35px;
}

h2:before {
    border-top: 2px solid #ebecee;
    content: " ";
    display: block;
    font-size: 0;
    height: 1px;
    top: -15px;
    width: 100%;
	position: relative;
}

footer {
    bottom: 0;
    box-sizing: border-box;
    left: 0;
    position: absolute;
    text-align: right;
    width: 100%;
	background-color: #2a2d33;
    color: #fff;
	min-height: 44px;
	z-index: 100;
}

footer p {
	margin-top: 15px;
	margin-right: 1em;
}

footer p a#send-feedback {
	float: left;
	color: #fff;
	margin-left: 1.833em;
}

footer p a#send-feedback:hover  {
	text-decoration: underline;
	color: #00b312;
}

h4 {
	color: #00b312;
    font-size: 1.1em;
	margin: 12px 0 0 0;
	font-weight: normal;
}

#page-article table {
	border: 1px solid #2CB144;
	border-collapse: collapse;
}

#page-article table th {
	background: #2CB144;
	color: #fff;
}

#page-article table tr:nth-child(2n) td {
	background: #F6F3EA;
}

#page-article table th, #page-article table td {
	padding: 3px 5px;
	text-align: left;
}

#page-article table td {
    border: 1px solid #e1e5ea;
    color: #555; 
}

#page-article article {
    max-width: 930px;
	padding: 15px 1em 0 3em;
}

header, nav, section, article, aside, footer {
    display: block;
} 

.show-search {
	background: url("../images/search-24.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: none;
    min-height: 24px;
    min-width: 24px;
} 

@media (max-width: 1200px) {
    #page-nav {
       width: 30%; 
    }
    
    #markdown-toc,
    #page-article { 
        width: 70%; 
    }
    
    #page-search {
        left: 30%;
    }

    .btn.pricing-btn {
        display: none;
    }

    #page-search {
        right: 390px;
    }
}

/* Responsive styles */
@media (max-width:800px) {
    body {
        min-width: initial;
    }

    .faux-columns {
        background-image: none;
    }

    #markdown-toc {
        border-bottom: none;
    }

    .nav-buttons,
    #page-nav,
    #page-tabs,
    #page-top #page-search {
        display: none;
    }

    #page-nav {
        min-width: 250px;
    }

    div#page-inner-content {
        bottom: 0;
    }

    #page-article {
        width: 100%;
        margin-left: 0;
        padding-left: 2em;
        padding-right: 2em;
    }

    #page-article h1 {
        margin-top: 1em;
    }

    .toggle-nav {
        display: inline-block;
    }

    #logo-bar,
	#logo-bar-sl {
       float: none;
       display: inline-block;
       margin-left: 1em;
	   width: 0px;
    }

    #page-search {
        width: 30%;
        left: auto;
        display: none;
        background-color: #2a2d33;
    }

    #page-search > div {
        padding: 0 3.83em 0 0;    
    }
	
    .toggle-nav span { 
        position: absolute; 
    }
    
    .toggle-nav span, 
    .toggle-nav span:before,
    .toggle-nav span:after {    
      border-radius: 1px;
      height: 3px;
      width: 24px;
      background: #fff;
      position: absolute;
      display: block;
      content: '';
    }

    .toggle-nav span:before {
      top: 16px;
    }

    .toggle-nav span:after {
      bottom: -8px; 
    }
        
    .show-search {
        display: inline-block;
        margin: 0;
        position: absolute;
        top: 27px;
        padding: 0;
        right: 1.833em;
        text-align: right;
        left: auto;
        cursor: pointer;
    }	

    footer {
        display: none;
    }
}