body, html,
#page-tabs,
#page-tabs li,
#markdown-toc ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

html {
    height: 100%;
}

body, html {
    min-height: 100%;
	overflow: hidden;
}

body {
    color: #555;
    font: 400 14px Arial, Helvetica, sans-serif;
    position: relative;
}

a img {
    border-width: 0;
}

header,
nav,
section,
article,
aside,
footer {
   display:block;
}


.TK-Hat {
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid #eff0f1;
    color: #4d4f52;
    background: #ffffff;
    position: relative;
    z-index: 42042;
}
.TK-Hat::after {
    content: "";
    clear: both;
    display: block;
}
.TK-Hat *,
.TK-Hat:after,
.TK-Hat:before {
    box-sizing: border-box;
}
.TK-Hat-Brand {
    float: left;
    width: 150px;
    margin: 0;
}
.TK-PRGS-Logo {
    display: block;
    outline: none!important;
    text-decoration: none!important;
    transition: color .1s linear, background .1s linear, opacity .1s linear;
}
.TK-PRGS-Logo:focus,
.TK-PRGS-Logo:hover {
    opacity: .75;
}
.TK-PRGS-Logo svg {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
@media only screen and (max-width: 1100px) and (min-width: 880px) {
   .TK-Hat-Brand {
         width: 120px;
         min-width: 120px;
     }
}
@media only screen and (max-width: 880px) {
    .TK-Hat-Brand {
        width: 100px;
        min-width: 100px;
    }
}

/* Header */

#page-header {
    background-color: #2a2d33;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px; 
    padding: 19px 15px;
    z-index: 100;
    height: 32px;
    overflow: hidden;
}

#page-header:after {
    clear: both;
    content: "";
    display: block;
}

#page-header a {
    text-decoration: none;
}

#logo-bar,
#logo-bar-sl {
	float: left; 
}

#logo-bar a,
#logo-bar-sl a{
    display: inline-block;
}

#logo-bar-sl span {
	display: none;
}

.nav-buttons {
    float: right;
}

.btn {
	background-clip: padding-box;
    background-color: #2a2d33;
    border: 1px solid #505156;
    border-radius: 2px;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.33334;
    margin: 0px 4px;
    padding: 5px 30px;
    position: relative;
    text-align: center;
    transition-duration: 0.2s;
    transition-property: background-color, color;
    transition-timing-function: ease;
    -webkit-appearance: none;
}

.btn:hover {
    color: #fff;
    background-color: #505156;
}

.btn-primary {
    background-color: #ee5315;
    border-color: #ee5315;
}

.btn-primary:hover {
    background-color: #c2410e;
    border-color: #c2410e;
    cursor: pointer;
}

/* Tabs */

#page-tabs {
    list-style: none;
    background-color: #f5f7f8;
    padding-left: 20px;
}

#page-tabs li {
    display: inline-block;
    padding: 0 20px 3px;
    line-height: 58px;
}

#page-tabs .active {
    padding-bottom: 0;
    border-bottom: 3px solid #00b312;
}

#page-tabs a {
    display: inline-block;
    color: #2d3e50;
    text-decoration: none;
    font-size: 14px;
}

/* Search */

.toggle-nav {
    width: 24px; 
    height: 24px;
    background: transparent; 
    display: none; 
    position: relative;
    cursor: pointer;
    vertical-align: top;
    margin: 6px 0 0 0;
}

#page-search {
    margin: 0 0 0 85px;
    position: absolute;
    top: 61px;
    background-color: transparent;
    padding: 0;
    right: 514px;
    text-align: right;
    left: 18%;
    max-width: 930px;
}

#page-search.search-visibility {
    display: block;
}

#page-search form {
    box-shadow: 3px 3px 19px rgba(0, 0, 0, 0.1); 
    margin-bottom: 0;
}
#page-search form > table {
    border: 1px solid #D9D9D9;
    margin: 0px; 
    padding: 0px;
}
#page-search table {
    margin: 0;  
}

#page-search .gsc-input-box {
    box-shadow: none;
    border: 0;
}

#page-search .gsc-input td+td {
    display: none;
}

#page-search table.gsc-search-box{
    font-size: 0px; 
}

#page-search table.gsc-search-box td {
    background-color: #fff;
    vertical-align: top; 
}

#page-breadcrumb {
	display: inline-block;
}

#page-breadcrumb ul {
    list-style: none;
    padding: 0;
}

#page-breadcrumb li {
    display: inline-block;
}

#page-breadcrumb .link::after {
    content: ">";
    margin: 0 8px;
}

#page-search .gsc-control-cse {
    background: none;
    border: 0;
    padding: 0; 
}

#page-search .gsc-input {
    background-image: none !important;
    padding-right: 2px;
}

#page-search td.gsc-search-button {
    background: transparent url(../images/search.png) no-repeat 50% 50%;
    cursor: pointer;
}

#page-search input.gsc-search-button {
    border-radius: 0;
    margin: 0;
    border: 0;
    padding: 8px 7px 7px;
    background: none;
    opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	/* IE 5-7 */
	filter: alpha(opacity=0);
	/* Safari 1.x */
	-khtml-opacity: 0;
}

#page-search > div {
    display: inline-block;
    text-align: left;
    width: 100%;
}

/* Topic navigation */

#page-nav {
    float: left;
    width: 20%;
	height: 100% !important;
	top: 0;
    left: 0;
    overflow: auto;
    position: absolute;
	background: none repeat scroll 0 0 #f5f7f8;
    border-right: 1px solid #ebecee;
	z-index: 1;
}

#page-tree {
    padding: 20px 20px 0 30px;
    white-space: normal;
    /*word-break: break-word;*/
    overflow: hidden;
}
#page-nav .k-icon,
#page-nav .k-sprite {
 width: 16px;
}

#page-nav .k-plus { background: url(../images/close.png) no-repeat; }
#page-nav .k-minus { background: url(../images/open.png) no-repeat; }

#page-nav .article {
	background: url(../images/file.png) no-repeat;
	position: absolute;
	margin-left: -21px;
	margin-top: 2px;
}

#page-nav .k-in {
    line-height: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
}

#page-nav .k-in a {
	margin: -1px -.3333em -1px -.25em;
	padding: 1px .3333em 1px .25em;
	display: inline-block;
}

#page-nav .k-in,
#page-nav .k-in a {
    border: 0;
    color: #000;
    text-decoration: none;
    font-size: 13px;
}

#page-nav .k-state-selected {
    background-color: #00b312;
}

#page-nav .k-state-selected,
#page-nav .k-state-selected a {
    color: #fff;
}

#page-nav.nav-visibility {
	display: block;
}

#page-api {
	padding: 0 0 30px 30px;
}

#page-api .k-in {
	margin: -2px;
}

/* Table of contents */

#markdown-toc {
    border-bottom: 1px solid #ebecee;
    font-size: 12px;
}

#markdown-toc > ul > li {
    display: inline-block;
    position: relative;
}

#markdown-toc li > ul {
    position: absolute;
    max-height: 400px;
    width: 500px;
    overflow: auto;
    background: #fff;
    border: 1px solid #f5f7f8;
    box-shadow: 3px 3px 3px #f5f7f8;
    padding: 1em 0;
}

#markdown-toc a {
    padding: 0 14px;
    text-decoration: none;
    line-height: 1.8em;
}

#markdown-toc a:hover {
    text-decoration: underline;
}

#markdown-toc code,
#markdown-toc em {
    display: none;
}

#markdown-toc .section > a {
    line-height: 50px;
    font-size: 1.1em;
    font-weight: bold;
    display: inline-block;
    padding-right: 30px;
    background: transparent url(../images/arrow.png) 90% 50% no-repeat;
}

#markdown-toc .section > a:hover {
    background-color: #f5f7f8;
    text-decoration: none;
}

#markdown-toc .section a {
    color: #428bca;
}

#markdown-toc+#page-article {
    /* adjust for ToC fixed positioning */
    padding-top: 80px;
}

#markdown-toc+#page-article :target:before {
    content: "";
    display: block;
    height: 135px;
    margin: -135px 0 0;
}

#markdown-toc+#page-article h1 {
    margin: 0;
}

#markdown-toc+#page-article h1+p {
    margin: 0;
}

#markdown-toc+#page-article h3 {
    margin-bottom: 3px;
    font-size: 16px;
    letter-spacing: normal;
}

#markdown-toc+#page-article h3 a {
    color: #e50870;
    letter-spacing: normal;
}

#markdown-toc+#page-article h3+p,
#markdown-toc+#page-article h4+p,
#markdown-toc+#page-article h5+p {
    margin-top: 0;
}

#markdown-toc+#page-article h4 {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 6px;
    color: #333;
}

#markdown-toc+#page-article h5 {
    margin-top: 6px;
    margin-bottom: 0;
}

#markdown-toc+#page-article h5 code {
    color: #3e526b;
}

#markdown-toc+#page-article h5 a code {
    color: #1976d2;
}

/* Index page */

#introduction #page-search {
    background-color: #f3f5f7;
    padding: 3em 0;
    height: 75px;
}

#introduction #page-search > div {
    width: 800px;
    margin: 0 auto;
}

#introduction #page-search .gsc-input-box {
    height: 36px;
}

#introduction #page-search .gsc-input {
    font-size: 18px;
}

#category-list {
    text-align: center;
    padding-top: 5em;
    width: 900px;
    margin: 0 auto;
}

.category {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    overflow: hidden;
    margin: 4%;
    text-align: left;
    text-decoration: none;
}

.category:hover h2 {
    text-decoration: underline;
}

.category img {
    float: left;
}

.category-info {
    color: #555;
    padding-left: 100px;
}

.category-info h2 {
    color: #428bca;
    margin-top: 0;
}


/* Article pages */

.faux-columns {
    background: #fff;
}

#page-inner-content {
    position: absolute;
	overflow: hidden !important;
    top: 113px;
    bottom: 44px; 
    width: 100%;
}

#page-inner-content:after {
    content: " ";
    font-size: 0;
    line-height: 0;
    clear: both;
    display: block;
}

#page-article {
    background-color: #fff;
    line-height: 1.5;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    bottom: 0;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 0;
	width: 80%;
}

#page-article h1:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 1px;
    position: relative;
    width: 100%;
}

#page-article h1 {
	font-size: 34px;
    margin-top: 1em; 
}

a {
    color: #428bca;
}

a:hover {
    color: #036c9c;
}

/* Headings */

h1,h2,h3,h4,h5,h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #000;
    text-decoration: none;
    letter-spacing: -0.04em; 
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 400; 
    line-height: 1.2em; 
    margin-top: 30px; 
    margin-bottom: 12px; 
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    padding-left: 25px;
    margin-left: -25px;
	display: block;
}

h1 a:hover, h2 a:hover, h3 a:hover,
h4 a:hover, h5 a:hover, h6 a:hover {
    text-decoration: none;
    background: transparent url(../images/anchor.png) no-repeat 0px 50%;
}
h1 {
    font-size: 34px;
}

h2 {
    font-size: 26px;
    font-weight: 500;
    margin-top: 42px;
}

h3 {
    font-size: 18px;
    font-weight: 500;
}

h4 {
    font-size: 16px;
    font-weight: 500;
    /*we leave green color here for now */ 
    color: #00b312;
    letter-spacing: 0; 
}

h5 {
    font-size: 15px;
    font-weight: 500;
}

h6 {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
} 
 
/*h1+p {
    font-size: 18px;
}*/

h3 code,
h3 em {
    color: #666;
    font-size: 14px;
}

h3 code {
    margin-left: 4px;
}

h3 a:first-child+a code:before {
    content: "-";
    margin-right: 7px;
    color: #ccc;
}

h3>code:first-child:before {
    content: "|";
    margin-right: 7px;
    color: #ccc;
}

h3 em {
    font-style: normal;
    font-weight: 500;
}

p {
    margin: 12px 0;
}

ul,
ol {
    margin: 12px 0 30px;
}

blockquote,
blockquote.note  {
    color: #555;
    padding: 10px 10px 10px 64px;
    background: #d9f0f7 url(../images/note-icon.png) no-repeat 15px center;
    margin: 5px 0;
	min-height: 40px;
}

blockquote.important {
	background: #f8eee3 url(../images/important-icon.png) no-repeat 15px center;
}

blockquote.caution {
	background: #eddee1 url(../images/caution-icon.png) no-repeat 15px center;
}

blockquote.tip {
	background: #def4e4 url(../images/tip-icon.png) no-repeat 15px center;
}

blockquote a {
    color: #428BCA;
}

blockquote table {
    border: 0;
    border-collapse: collapse;
}

blockquote th, blockquote td {
    border-color: #F2BB72;
    padding: .5em;
}

.prettyprint {
    font-size: 12px;
    padding: 20px;
	background-color: #fbfdfe;
    border: 2px dashed #ebecee;	
	margin: 5px 0;
}

pre .nocode { background-color: transparent; color: #000; }
pre .str,                    /* string */
pre .atv { color: #2db245; } /* attribute value */
pre .kwd { color: #ff3399; } /* keyword */
pre .com { color: #9933cc; } /* comment */
pre .typ { color: #000; } /* type */
pre .lit { color: #0099ff; } /* literal */
pre .pun { color: #333; }    /* punctuation */
pre .pln { color: #3e526b; }    /* plaintext */
pre .tag { color: #3e526b; } /* html/xml tag */
pre .atn { color: #3e526b; } /* attribute name */
pre .dec { color: #3e526b; } /* decimal */

/* Footer */
#footer
{
    background-color: #2a2d33;
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-links {
    display: inline-block;
    font-size: 11px;
    color: #fff;
    padding: 0 8px;
    font: 400 11px/1 Arial,Helvetica,sans-serif;
    border-left: 1px solid #47494c;
}

.footer-links:first-child {
    border-left: 0;
    padding-left: 0;
}

a.footer-links:hover {
    color: #49c3fb;
    text-decoration: underline;
}

.quick-links {
	padding-top: 1.917em;
	padding-bottom: 1em;
	padding-left: 36px;
}
#page-edit-link {
	position: absolute;
	z-index: 10;
	right: 28px;
	top: 10px;
	margin: 0;
	text-decoration: none;
}

.logo {
    height: 30px;
    display: inline-block;
    vertical-align: top;
}

.copyright {

    padding-left: 36px;
    padding-bottom: 24px;
}

.copyright p {
    font-size: 11px;
    margin-left: 35px;
}

footer {
    bottom: 0;
    box-sizing: border-box;
    left: 0;
    position: absolute;
    text-align: right;
    width: 100%;
	background-color: #2a2d33;
    color: #fff;
	min-height: 44px;
	z-index: 100;
}

footer p {
	margin-top: 15px;
	margin-right: 1em;
}

footer p a#send-feedback {
	float: left;
	color: #fff;
	margin-left: 1.833em;
}

footer p a#send-feedback:hover  {
	text-decoration: underline;
	color: #00b312;
}

#page-article table {
	border: 1px solid #2CB144;
	border-collapse: collapse;
}

#page-article table th {
	background: #2CB144;
	color: #fff;
}

#page-article table tr:nth-child(2n) td {
	background: #F6F3EA;
}

#page-article table th, #page-article table td {
	padding: 3px 5px;
	text-align: left;
}

#page-article table td {
    border: 1px solid #e1e5ea;
    color: #555; 
}

#page-article article {
    max-width: 930px;
	margin: 15px 1em 0 3em;
}

header, nav, section, article, aside, footer {
    display: block;
} 

.show-search {
	background: url("../images/search-24.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: none;
    min-height: 24px;
    min-width: 24px;
} 

@media (max-width: 1200px) {
    #page-edit-link{
        display: none;
    }

	#logo-bar,
	#logo-bar-sl{
        float: none;
        display: inline-block;
        margin-left: 1em; 
    }

    #page-nav {
       min-width: 300px; 
    }
    
    #markdown-toc,
    #page-article { 
        width: 70%; 
    }

    #page-nav,
    #page-tabs,
    #page-top,
	#page-search,
    .nav-buttons {
        display: none;
    }

    #page-header #logo-bar.logo-visibility,  
    #page-header #page-search.search-visibility~.show-search
    {
        display: none;
    }
	
	
	.show-search {
        display: inline-block;
        margin: 0;
        position: absolute;
        top: 65px;
        padding: 0;
        right: 1.833em;
        text-align: right;
        left: auto;
        cursor: pointer;
    }

    #page-search {
        left: 50px;
        max-width: initial; 
        right: 15px; 
        margin: 0px; 
    }
	 
	 .toggle-nav {
        display: inline-block;
    }
	
    .toggle-nav span { 
        position: absolute; 
    }
    
    .toggle-nav span, 
    .toggle-nav span:before,
    .toggle-nav span:after {    
      border-radius: 1px;
      height: 3px;
      width: 24px;
      background: #fff;
      position: absolute;
      display: block;
      content: '';
    }

    .toggle-nav span:before {
      top: 16px;
    }

    .toggle-nav span:after {
      bottom: -8px; 
    }	

    div#page-inner-content {
        bottom: 0;
    }

    #page-article {
        width: 100%;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
    }

    #page-article article {
        margin-left: 2em;
        margin-right: 2em;
    }
    
    #page-article h1 {
        margin-top: 1em;
    }
}

/* Responsive styles */
@media (max-width:800px) {
    body {
        min-width: initial;
    }

    .faux-columns {
        background-image: none;
    }

    #markdown-toc {
        border-bottom: none;
    }

    .toggle-nav {
        display: inline-block;
    }

    #page-search > div {
        padding: 0 3.83em 0 0;    
    }

    footer {
        display: none;
    }
}

/* START Theme Palette Color Element Styles */
.theme-palette-color {
	width:20px;
	height:20px;
	margin: auto;
	border: 1px solid black;
}

.green-strongbrush-dark {	
	background:#646464;
}
.green-strongbrush-ligth {	
	background:#646464;
}
.green-validationbrush-dark {	
	background:#E60000;
}
.green-validationbrush-ligth {	
	background:#E60000;
}
.green-fixedbrush-dark {	
	background:#FFFFFF;
}
.green-fixedbrush-ligth {	
	background:#FFFFFF;
}
.green-accenthighbrush-dark {	
	background:#2B7402;
}
.green-accenthighbrush-ligth {	
	background:#4FA520;
}
.green-accentlowbrush-dark {	
	background:#86B90E;
}
.green-accentlowbrush-ligth {	
	background:#008406;
}
.green-semiaccentlowbrush-dark {	
	background: #CFDF9D;
}
.green-semiaccentlowbrush-ligth {	
	background: #A0CC9A;
}
.green-mouseoverbrush-dark {	
	background: #669933;
}
.green-mouseoverbrush-ligth {	
	background: #8EBC00;
}
.green-mainbrush-dark {	
	background: #1B1B1F;
}
.green-mainbrush-ligth {	
	background: #F1F1F1;
}
.green-primarybrush-dark {	
	background: #2B2C2E;
}
.green-primarybrush-ligth {	
	background: #E8E8E8;
}
.green-alternativebrush-dark {	
	background: #1D1E21;
}
.green-alternativebrush-ligth {	
	background: #E0E0E0;
}
.green-markerbrush-dark {	
	background: #F1F1F1;
}
.green-markerbrush-ligth {	
	background: #000000;
}
.green-basicbrush-dark {	
	background: #474747;
}
.green-basicbrush-ligth {	
	background: #999999;
}
.green-selectedbrush-dark {	
	background: #FFFFFF;
}
.green-selectedbrush-ligth {	
	background: #353535;
}
.green-lowbrush-dark {	
	background: #343434;
}
.green-lowbrush-ligth {	
	background: #8D8D8D;
}
.green-highbrush-dark {	
	background: #131313;
}
.green-highbrush-ligth {	
	background: #ECECEC;
}
.green-complementarybrush-dark {	
	background: #444446;
}
.green-complementarybrush-ligth {	
	background: #CACACA;
}

.office2016-mainbrush {	
	background: #FFFFFF;
}
.office2016-primarybrush {	
	background: #E6E6E6;
}
.office2016-complementarybrush {	
	background: #E1E1E1;
}
.office2016-alternativebrush {	
	background: #F1F1F1;
}
.office2016-basicbrush {	
	background: #ABABAB;
}
.office2016-markerbrush {	
	background: #444444;
}
.office2016-markerinvertedbrush {	
	background: #F9F9F9;
}
.office2016-iconbrush {	
	background: #444444;
}
.office2016-validationbrush {	
	background: #E81123;
}
.office2016-accentbrush {	
	background: #2A579A;
}
.office2016-accentmouseoverbrush {	
	background: #3E6DB6;
}
.office2016-accentpressedbrush {	
	background: #19478A;
}
.office2016-accentfocusedbrush {	
	background: #88C3FF;
}
.office2016-mouseoverbrush {	
	background: #C5C5C5;
}
.office2016-pressedbrush {	
	background: #AEAEAE;
}
.office2016-selectedbrush {	
	background: #EBEBEB;
}
.office2016-readonlybackgroundbrush {	
	background: #FFFFFF;
}
.office2016-readonlyborderbrush {	
	background: #ABABAB;
}

.materialtheme-mainbrush{
	background: #FFFFFF;
}
.materialtheme-primarybrush{
	background: #FAFAFA;
}
.materialtheme-complementarybrush{
	background: #E0E0E0;
}
.materialtheme-alternativebrush{
	background: #F5F5F5;
}
.materialtheme-dividerbrush{
	background: #E1E1E1;
}
.materialtheme-markerbrush{
	background: #000000;
}
.materialtheme-markerinvertedbrush{
	background: #FFFFFF;
}
.materialtheme-iconbrush{
	background: #000000;
}
.materialtheme-validationbrush{
	background: #D50000;
}
.materialtheme-accentnormalbrush{
	background: #FFAB40;
}
.materialtheme-accenthoverbrush{
	background: #FFD180;
}
.materialtheme-accentpressedbrush{
	background: #FF9100;
}
.materialtheme-primarynormalbrush{
	background: #3F51B5;
}
.materialtheme-primaryhoverbrush{
	background: #303F9F;
}
.materialtheme-primarypressedbrush{
	background: #1A237E;
}
.materialtheme-primaryfocusbrush{
	background: #9FA8DA;
}
.materialtheme-ripplebrush{
	background: #FFFFFF;
}
.materialtheme-dividersolidbrush{
	background: #E1E1E1;
}
/* END Theme Palette Color Styles */

/* START Kendo Grid Nova Theme CSS*/
.k-grid-header,
.k-grid-header .k-header,
.k-pager-wrap,
.k-pager-numbers .k-state-selected,
.k-grid-footer,
.k-grid-footer td,
.k-scheduler-header,
.km-pane-wrapper .k-grid-header .k-header {
  background-color: #fafafa;
  border-color: #e0e0e0;
}
.k-grid-header .k-header .k-link,
.k-grid-header .k-header,
.k-grid-header .k-link,
.k-grid-header .k-link:link,
.k-pager-info,
.k-scheduler-header,
.k-scheduler-agendaview .k-scheduler-datecolumn {
  color: #9da2a4;
}
.k-grid .k-alt {
  background-color: transparent;
}

#kendoDiv table tr:nth-child(2n) td {
	background: transparent;
}

#kendoDivSL table tr:nth-child(2n) td {
	background: transparent;
}

.k-grid tr:hover {
  background-color: #f5f6f6;
}
.k-grid-header th.k-state-focused,
.k-grid td.k-state-focused {
  -webkit-box-shadow: inset 0 0 0 1px #9c9c9c;
          box-shadow: inset 0 0 0 1px #9c9c9c;
}
.k-grid-toolbar .k-button,
.k-grid-content .k-button {
  color: #ff4350;
  border-color: transparent;
}
.k-grid-toolbar .k-button-icontext .k-icon,
.k-grid-content .k-button-icontext .k-icon,
.k-edit-form-container .k-edit-buttons .k-button-icontext .k-icon {
  display: none;
}
.k-grid-toolbar .k-button:hover {
  border-color: #f5f6f6;
}
.k-grid-content .k-button-icontext {
  background-color: transparent;
}
.k-grid-content .k-primary {
  color: #ffffff;
  background-color: #ff4350;
}
.k-grid-toolbar .k-button:active,
.k-grid-content .k-button-icontext:active {
  color: #ffffff;
  background-color: #ff4350;
  border-color: #ff4350;
}
.k-grid-content .k-button:active {
  border-color: #ff4350;
}
.k-header.k-grid-toolbar {
  background-color: #fff;
  border-color: transparent;
}
.k-grid .k-grouping-header {
  color: rgba(255, 255, 255, 0.5);
}
.k-grouping-header .k-group-indicator {
  color: #ffffff;
  background-color: #e43c48;
  border-color: #e43c48;
}
.k-group-indicator .k-link {
  color: #ffffff;
}
.k-grouping-row {
  background-color: #fafafa;
  font-weight: bold;
}
.k-group-cell {
  background-color: #fafafa;
}
.k-filter-menu .k-button,
.k-edit-form-container .k-button {
  color: #32364c;
  background: transparent;
  border-color: transparent;
}
.k-filter-menu .k-button:active {
  color: #32364c;
}
.k-filter-menu .k-primary,
.k-edit-form-container .k-primary {
  color: #ff4350;
}
.k-filter-menu .k-primary {
  border-left-color: #e0e0e0;
}
.k-filter-menu > div > div:last-child {
  border-color: #e0e0e0;
}
.k-grid td.k-state-selected,
.k-grid tr.k-state-selected > td {
  border-color: rgba(224, 224, 224, 0.8);
}
.k-grid tr.k-state-selected,
.k-grid td.k-state-selected,
.k-grid td.k-state-selected.k-state-focused {
  background-color: transparent;
}
.k-grid tr:hover .k-state-selected,
.k-grid tr.k-state-selected:hover td {
  background-color: transparent;
}
.k-grid tr:hover .k-state-focused.k-state-selected,
.k-grid tr.k-state-selected:hover td.k-state-focused {
  -webkit-box-shadow: inset 0 0 0 1px #878787;
          box-shadow: inset 0 0 0 1px #878787;
}
.k-marquee-color {
  background-color: #86d9e4;
}
/* END Kendo Grid Nova Theme CSS*/

/* START Kendo Grid Nova Theme CSS*/
.k-grid td{
            white-space: nowrap;
            text-overflow: ellipsis;				
        }	
		
#kendoDiv{
	margin-bottom:10px;
	border-color:#e0e0e0;
	width: 100%;
}

#kendoDivSL{
	margin-bottom:10px;	
	border-color:#e0e0e0;
	width: 100%;
}
		
#kendoDiv .detailsDIV
{
	float:left;
    color: #E0E0E0!important;	
}

#kendoDivSL .detailsDIV
{
	float:left;
    color: #E0E0E0!important;
}
		
#kendoDiv p {
         width: 530px;  
         word-break: normal;
         white-space: normal;
      }
	  
#kendoDivSL p {
 width: 530px;  
 word-break: normal;
 white-space: normal;
}
	  
#kendoDiv table td {
    border: 1px solid #e1e5ea;
    color: #555; 
	border-left-width: 0px;
	border-right-width: 0px;
	padding: .929em 1.286em;	
}

#kendoDivSL table td {
    border: 1px solid #e1e5ea;
    color: #555; 
	border-left-width: 0px;
	border-right-width: 0px;
	padding: .929em 1.286em;	
}

#kendoDiv .k-grid-toolbar{
      padding:0px;
	  border-color:#E0E0E0;
	  margin-bottom:-1px;
}

#kendoDivSL .k-grid-toolbar{
      padding:0px;
	  border-color:#E0E0E0;
	  margin-bottom:-1px;
}

#kendoDiv table th {
    padding: 7px 17px;
}

#kendoDivSL table th {
    padding: 7px 17px;
}

#kendoDiv table {
    border: 0px;
}

#kendoDivSL table {
    border: 0px;
}

 tr.k-detail-row:hover { 
        background:transparent; 
 } 
 
.k-grid .k-grid-header th.k-header {
        background: #FAFAFA!important;
		color:#9da2a4!important;
      }
	  
#kendoDiv .k-grid-header
{
   padding: 0 !important;
}

#kendoDivSL .k-grid-header
{
   padding: 0 !important;
}

#kendoDiv .k-grid-content
{
   overflow-x: hidden!important;
   overflow-y: visible!important;
}

#kendoDivSL .k-grid-content
{
   overflow-x: hidden!important;
   overflow-y: visible!important;
}

#kendoDiv  .toolbar{
  width:100%;
  display:table;
  background: #FAFAFA;
  padding: 10px 0px 10px 0px;
}

#kendoDivSL .toolbar{
  width:100%;
  display:table;
  background: #FAFAFA;
  padding: 10px 0px 10px 0px;
}

#kendoDiv .category-label {
  display:table-cell;
  width:27%;
  text-align:center;
  vertical-align: middle;
  color: #9da2a4!important;
}

#kendoDivSL .category-label {
  display:table-cell;
  width:27%;
  text-align:center;
  vertical-align: middle;
  color: #9da2a4!important;
}

#kendoDiv div.k-grid-header
{
  height: 0;
  border-bottom-width: 0;
  display: none;
  overflow: hidden;
}

#kendoDivSL div.k-grid-header
{
  height: 0;
  border-bottom-width: 0;
  display: none;
  overflow: hidden;
}
      
#kendoDiv .detailsDIV div.k-grid-header
{
  border-bottom-width: 0;
  display: inline;
  overflow: hidden;
}

#kendoDivSL .detailsDIV div.k-grid-header
{
  border-bottom-width: 0;
  display: inline;
  overflow: hidden;
}

#innerDiv{
	margin-top:-20px;
}

#kendoDiv #searchBox {
  display:table-cell;
  height:40px;
  width:97%;
  border: 1px solid;
  border-color: #e0e0e0;
}

#kendoDivSL #searchBox {
  display:table-cell;
  height:40px;
  width:97%;
  border: 1px solid;
  border-color: #e0e0e0;
}

#kendoDiv .k-grid .k-state-selected { background: #F5F6F6; }
#kendoDivSL .k-grid .k-state-selected { background: #F5F6F6; }

.detailsDIV tbody  {
    cursor: pointer;
} 

.detailsDIV  
.k-grid-header table,
.detailsDIV  
.k-grid-content table,
.detailsDIV  
.k-grid-footer table,
.detailsDIV  
.k-grid-content-locked > table {
    table-layout:auto;
} 

.readmeDiv p {
	max-width: 500px;
	margin: 0px 0px 0px 40px ;
}

.readmeDiv b {
	margin: 0px 0px 0px 40px ;
}

.k-icon.k-plus, 
.k-icon.k-minus 
 {
	background-image: url(../images/sprite.png);
	border-color: transparent;
}

.k-grid .k-icon {
    opacity: .45;
}

 .detailsDIV table td {
  padding: 4px 16px 4px 16px!important;
}

@media (max-width: 450px) {
	#logo-bar, 
	#logo-bar-sl {
		position: absolute;
	}
	
	#page-header .show-search {
		display:none;
	}	
}


/* END Kendo Grid Nova Theme CSS*/

/* SART Feedback form styles */
#feedback-section {
	margin-top: 15px;
	margin-left: 40px;		
	padding-bottom: 20px;	
}

#feedback-menu-container {
	width: 100%;
	max-width: 930px;
	padding-top: 15px;
	border-top: 2px solid #ebecee;
}

#helpful-buttons-container {
	font-size: 1.5em;
	font-weight: bold;
	color: #000;
	text-decoration: none;
	position: relative;
}

#helpful-buttons-container button {
	float: right;
	line-height: 0.933em;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	border-radius: 2px;
	padding: 0.667em 2.000em;
	background-color: #fff;
	color: #555;
	border-width: 0;
	cursor: pointer;
	background-clip: padding-box;
	border: 1px solid #ccc;
	transition-property: background-color, color;
	transition-duration: 0.2s;
	transition-timing-function: ease;
}

#helpful-buttons-container span {
	margin-top: 2px;
}

#yesButton {
	margin-right: 10px;
}

#helpful-buttons-container button:hover{
	background-color: #2a2d33;
	color: #fff;
}

#feedback-submitted-container,
#additional-feedback-button {
	/* font-size: 1.5em; */
	/* visibility: hidden; */
	display: none; 	
	font-size: 22px;
	font-weight: bold;	
}

#feedback-submitted-container {
	float: right;	
	color: #000;	
}

#additional-feedback-button {
	color: #428bca;
}

#additional-feedback-button :hover {
	cursor: pointer;
	color: #2a2d33;
}

.k-widget.k-window.k-window-titleless {	
	height: 560px !important;
	width: 500px !important;
	top: 188px !important;	
	border: none;
	position: absolute;
	background-color: #fff;
}

#feedback-form-window input::-webkit-input-placeholder,
#feedback-form-window textarea::-webkit-input-placeholder,
#feedback-form-window input:-moz-placeholder,
#feedback-form-window textarea:-moz-placeholder,
#feedback-form-window input::-moz-placeholder,
#feedback-form-window textarea::-moz-placeholder,
#feedback-form-window input:-ms-input-placeholder,
#feedback-form-window textarea:-ms-input-placeholder {
	color: #d9d9d9;
	font-style: italic;
}

#feedback-form-window .feedback-extw__title {
	margin: 0;
	font-size: 22px;
}

#feedback-form-window .feedback-extw__subtitle {
	margin-top: 7px;
	margin-bottom: 0;
	font-size: 10.5pt;
	font-weight: bold;
	color: #000;
	text-decoration: none;
}

#feedback-form  #feedback-checkbox-area {
	margin-top: 24px;
}

#feedback-form label {
	display: block;
	margin: 5px 0 10px;
}

#feedback-extw__checkbox:after {
	content: "";
	display: block;
	clear: both;
}

#feedback-form .checkbox__input {
	float: left;
}

#feedback-form .checkbox__text {	
	line-height: 18px;
	margin-left: 5px;
}

#feedback-form .feedback-extw__textarea,
#feedback-form .feedback-extw__input {
	padding: 10px;
	border: 1px solid #d9d9d9;
	width: 100%;
	box-sizing: border-box;
	font: inherit;
}

#feedback-form .feedback-extw__textarea {
	margin-top: 16px;
	height: 156px;
	resize: none;
	overflow: auto;
}

#feedback-form .feedback-extw__input {
	margin: 12px 0 30px;
}

#feedback-form-window button {
	line-height: 0.933em;
	font-size: 10.5pt;
	font-weight: bold;
	text-align: center;
	border-radius: 2px;
	padding: 0.667em 2.000em;
	background-color: #015991;
	color: #fff;
	border-width: 0;
	cursor: pointer;
	background-clip: padding-box;
	border: 1px solid #015991;
	transition-property: background-color, color;
	transition-duration: 0.2s;
	transition-timing-function: ease;
}

#feedback-form-window button:hover {
	background-color: #013a5e;
}

button#form-close-button {
	background-color: #fff;
	color: #555;
	border: 1px solid #ccc;
	margin-left: 8px;
}

button#form-close-button:hover {
	background-color: #ccc;
}

#feedback-form span.k-tooltip {
	border: 0;
	color: #ff0000;
	font-style: italic;
	font-size: 12px;
}

div.k-window-content {
	padding: 27px 30px 10px 30px;
	overflow: hidden;
}
/* END Feedback form styles*/

/* START Introduction page all controls table styles */
#page-article table#allcontrols-table {
	border: none;
}

#page-article table#allcontrols-table td {
	background: none;
	border: none;
}

#page-article table#allcontrols-table ul {
	list-style-type: none;
	padding-left: 0px;
}

#allcontrols-table ul li {	
	padding: 5px 5px;	
}

#allcontrols-table ul li.control-category {
	color: #2CB144;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 5px;
	padding: 3px 5px;
}
/* END Introduction page all controls table styles */


