<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=9">
		<meta name="page-position" content="{{page.position}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page.page_title || page.title }}</title>
		
        <link href="{{site.baseurl}}/favicon.ico?Version=2014" rel="shortcut icon" />
		
        {% if page.description %}<meta name="description" content="{{page.description}}">{% endif %}
         <link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.1.112/styles/kendo.common.min.css" />
        {% stylesheet styles %}
        {% stylesheet theme %}
        {% stylesheet branding %}
        {% stylesheet highlight %}
         <script src="//kendo.cdn.telerik.com/2016.1.112/js/jquery.min.js"></script>
		 <script src="//kendo.cdn.telerik.com/2016.1.112/js/kendo.web.min.js"></script>
        {% javascript prettify %}
        {% javascript app %}
		{% javascript prettify %}
        {% javascript branding %}
		{% javascript feedback %}
		
		<!--[if lt IE 9]>
		<script>
		document.createElement('header');
		document.createElement('nav');
		document.createElement('section');
		document.createElement('article');
		document.createElement('aside');
		document.createElement('footer');
		document.createElement('hgroup');
		</script>
		<![endif]-->
    </head>
    <body class="faux-columns">
        <!-- Google Tag Manager -->
        <noscript>
            <iframe src="//www.googletagmanager.com/ns.html?id={{site.google_tag_manager}}" height="0" width="0" style="display: none; visibility: hidden"></iframe>
        </noscript>
        <script>(function(w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', '{{site.google_tag_manager}}');</script>
        <!-- End Google Tag Manager -->
        <header id="page-header">
			<span class="toggle-nav"><span></span></span>
            {% include header.html %}
        </header>

        {{ content }}
    </body>
</html>

