---
layout: index
---
<div id="page-inner-content">
    <div id="page-nav">
        <div id="page-tree"></div>
        <script>
			$("#page-tree").kendoTreeView({
				dataSource: {
					transport: {
						read: {
							url: "{{site.baseurl}}/{{page.category}}.json",
							dataType: "json"
						}
					},
					schema: {
						model: {
							id: "path",
							children: "items",
							hasChildren: "items"
						}
					}
				},
				select: preventParentSelection,
				template: navigationTemplate("{{site.baseurl}}/"),
				dataBound: expandNavigation("{{page.url | remove_first: '/' }}")
			});
        </script>
		<div id="page-api" class="k-treeview">
			<ul class="k-group">
				<li class="k-item">
					<span class="k-icon k-plus" role="presentation"></span>
					<span class="k-in">
						<a href="{{site.baseurl}}/api/R_Project_ApiReference.htm" target="_blank">API Reference</a>
					</span>
				</li>
			</ul>
		</div>
		
		<!--<script type="text/javascript">		
			window.onload = function(){
				var tree = $("#page-tree").data("kendoTreeView");
				var selected = tree.select()
				$("#page-nav").animate({scrollTop:selected.offset().top - $("#page-header").height() - $("#page-nav").height() / 2}, 300);				
			}
		</script> -->		
    </div>
    <div id="page-article">       
        <article>
            {{ content }}
        </article>
    </div>	
</div>

{% include footer.html %}