<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    
    <appSettings>
        <clear />
    </appSettings>
    
    <system.web>
        <httpRuntime maxRequestLength="102400" maxUrlLength="102400" maxQueryStringLength="10000" requestValidationType="System.Web.Util.RequestValidator" />
        
        <httpModules>
            <clear />
        </httpModules>
        
        <httpHandlers>
            <clear />
        </httpHandlers>
    </system.web>
    
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
     
        <rewrite>
            <rules>

                
                <rule name="redirect-api-reference" enabled="true">
                    <match url="^api-reference/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="api-reference/a17d55df-a723-f570-e858-be634c0dc540.htm" redirectType="Found" />
                </rule>
                
                <rule name="redirect-api-reference-system.windows" enabled="true">
                    <match url="^api-reference/system.windows/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="api-reference/system.windows/6fe01f63-722d-4244-4293-42f7c54365e1.htm" redirectType="Found" />
                </rule>
                
                <rule name="redirect-api-reference-system.windows-canexecutechangedeventmanager-class" enabled="true">
                    <match url="^api-reference/system.windows/canexecutechangedeventmanager-class/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="api-reference/system.windows/canexecutechangedeventmanager-class/9a039285-409f-5d81-4791-bc390d534081.htm" redirectType="Found" />
                </rule>
                
                <rule name="redirect-api-reference-system.windows-canexecutechangedeventmanager-class-canexecutechangedeventmanager-methods" enabled="true">
                    <match url="^api-reference/system.windows/canexecutechangedeventmanager-class/canexecutechangedeventmanager-methods/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="api-reference/system.windows/canexecutechangedeventmanager-class/canexecutechangedeventmanager-methods/458cb40f-d7c0-1a0d-e731-2a88b085183b.htm" redirectType="Found" />
                </rule>
                
                <rule name="redirect-api-reference-system.windows-weakeventmanager-t-class" enabled="true">
                    <match url="^api-reference/system.windows/weakeventmanager-t-class/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="api-reference/system.windows/weakeventmanager-t-class/e94118f9-cd70-2816-0123-8b585d5c6a19.htm" redirectType="Found" />
                </rule>
                
                <rule name="redirect-api-reference-system.windows-weakeventmanager-t-class-weakeventmanager-t-methods" enabled="true">
                    <match url="^api-reference/system.windows/weakeventmanager-t-class/weakeventmanager-t-methods/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="api-reference/system.windows/weakeventmanager-t-class/weakeventmanager-t-methods/2d8854f4-4871-7829-fd73-0a2ee31e6f39.htm" redirectType="Found" />
                </rule>
                
                <rule name="redirect-api-reference-telerik.windows.persistence.services" enabled="true">
                    <match url="^api-reference/telerik.windows.persistence.services/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="api-reference/telerik.windows.persistence.services/d4a68e25-de0c-ff96-5707-bff47790b085.htm" redirectType="Found" />
                </rule>
                
                <rule name="redirect-api-reference-telerik.windows.persistence.services-custompropertyinfo-class" enabled="true">
                    <match url="^api-reference/telerik.windows.persistence.services/custompropertyinfo-class/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="api-reference/telerik.windows.persistence.services/custompropertyinfo-class/7daa9153-4cc4-e6e2-c700-453bf5b225b6.htm" redirectType="Found" />
                </rule>
                
                <rule name="redirect-api-reference-telerik.windows.persistence.services-custompropertyinfo-class-custompropertyinfo-constructor-" enabled="true">
                    <match url="^api-reference/telerik.windows.persistence.services/custompropertyinfo-class/custompropertyinfo-constructor-/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="api-reference/telerik.windows.persistence.services/custompropertyinfo-class/custompropertyinfo-constructor-/93f87273-d816-b635-baa5-c8e843122ac0.htm" redirectType="Found" />
                </rule>
                
                <rule name="redirect-api-reference-telerik.windows.persistence.services-custompropertyinfo-class-custompropertyinfo-properties" enabled="true">
                    <match url="^api-reference/telerik.windows.persistence.services/custompropertyinfo-class/custompropertyinfo-properties/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="api-reference/telerik.windows.persistence.services/custompropertyinfo-class/custompropertyinfo-properties/92d1cf57-ebd7-c010-749a-93109877c53c.htm" redirectType="Found" />
                </rule>
                
                <rule name="redirect-api-reference-telerik.windows.persistence.services-defaulttypeconverterprovider-class" enabled="true">
                    <match url="^api-reference/telerik.windows.persistence.services/defaulttypeconverterprovider-class/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="api-reference/telerik.windows.persistence.services/defaulttypeconverterprovider-class/024a9253-7b30-49cf-d790-03dd9c735c89.htm" redirectType="Found" />
                </rule>
                
                <rule name="redirect-api-reference-telerik.windows.persistence.services-defaulttypeconverterprovider-class-defaulttypeconverterprovider-methods" enabled="true">
                    <match url="^api-reference/telerik.windows.persistence.services/defaulttypeconverterprovider-class/defaulttypeconverterprovider-methods/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="api-reference/telerik.windows.persistence.services/defaulttypeconverterprovider-class/defaulttypeconverterprovider-methods/8f43cf88-4f12-d624-070c-cac1709a2cd8.htm" redirectType="Found" />
                </rule>
                
                <rule name="redirect-api-reference-telerik.windows.persistence.services-iattachedpropertyprovider-interface" enabled="true">
                    <match url="^api-reference/telerik.windows.persistence.services/iattachedpropertyprovider-interface/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="api-reference/telerik.windows.persistence.services/iattachedpropertyprovider-interface/7e48fb50-6043-d4d6-62c0-ec57308e94a7.htm" redirectType="Found" />
                </rule>
                
                <rule name="redirect-api-reference-telerik.windows.persistence.services-iattachedpropertyprovider-interface-iattachedpropertyprovider-methods" enabled="true">
                    <match url="^api-reference/telerik.windows.persistence.services/iattachedpropertyprovider-interface/iattachedpropertyprovider-methods/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="api-reference/telerik.windows.persistence.services/iattachedpropertyprovider-interface/iattachedpropertyprovider-methods/6da95b4b-a78d-58c1-7b12-0d8af426ab0a.htm" redirectType="Found" />
                </rule>
                
                <rule name="redirect-api-reference-telerik.windows.persistence.services-icustompropertyprovider-interface" enabled="true">
                    <match url="^api-reference/telerik.windows.persistence.services/icustompropertyprovider-interface/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="api-reference/telerik.windows.persistence.services/icustompropertyprovider-interface/6dc4fc37-db86-0f3e-ec34-b9a1d59550ff.htm" redirectType="Found" />
                </rule>
                
                <rule name="redirect-api-reference-telerik.windows.persistence.services-icustompropertyprovider-interface-icustompropertyprovider-methods" enabled="true">
                    <match url="^api-reference/telerik.windows.persistence.services/icustompropertyprovider-interface/icustompropertyprovider-methods/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="api-reference/telerik.windows.persistence.services/icustompropertyprovider-interface/icustompropertyprovider-methods/7f33c802-e3e6-5835-b9d0-17ce66ed7ed0.htm" redirectType="Found" />
                </rule>
                
                <rule name="redirect-api-reference-telerik.windows.persistence.services-ipersistenceserviceprovider-interface" enabled="true">
                    <match url="^api-reference/telerik.windows.persistence.services/ipersistenceserviceprovider-interface/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="api-reference/telerik.windows.persistence.services/ipersistenceserviceprovider-interface/add34da4-d07f-0bee-8911-1f060adf6006.htm" redirectType="Found" />
                </rule>
                
                <rule name="redirect-api-reference-telerik.windows.persistence.services-ipersistenceserviceprovider-interface-ipersistenceserviceprovider-methods" enabled="true">
                    <match url="^api-reference/telerik.windows.persistence.services/ipersistenceserviceprovider-interface/ipersistenceserviceprovider-methods/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="api-reference/telerik.windows.persistence.services/ipersistenceserviceprovider-interface/ipersistenceserviceprovider-methods/5adf3194-e0b6-96c4-fb56-c2ea77992640.htm" redirectType="Found" />
                </rule>
                
                <rule name="redirect-api-reference-telerik.windows.persistence.services-ipropertyprovider-interface" enabled="true">
                    <match url="^api-reference/telerik.windows.persistence.services/ipropertyprovider-interface/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="api-reference/telerik.windows.persistence.services/ipropertyprovider-interface/29601e8c-febc-cf1c-dcc0-d895fece64af.htm" redirectType="Found" />
                </rule>
                
                <rule name="redirect-api-reference-telerik.windows.persistence.services-ipropertyprovider-interface-ipropertyprovider-methods" enabled="true">
                    <match url="^api-reference/telerik.windows.persistence.services/ipropertyprovider-interface/ipropertyprovider-methods/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="api-reference/telerik.windows.persistence.services/ipropertyprovider-interface/ipropertyprovider-methods/e345d0d7-67de-711e-c6f1-d8f5dc125536.htm" redirectType="Found" />
                </rule>
                
                <rule name="redirect-api-reference-telerik.windows.persistence.services-ipropertyvalidatorprovider-interface" enabled="true">
                    <match url="^api-reference/telerik.windows.persistence.services/ipropertyvalidatorprovider-interface/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="api-reference/telerik.windows.persistence.services/ipropertyvalidatorprovider-interface/46475365-db4a-b269-5494-7c454d6b5c40.htm" redirectType="Found" />
                </rule>
                
                <rule name="redirect-api-reference-telerik.windows.persistence.services-ipropertyvalidatorprovider-interface-ipropertyvalidatorprovider-methods" enabled="true">
                    <match url="^api-reference/telerik.windows.persistence.services/ipropertyvalidatorprovider-interface/ipropertyvalidatorprovider-methods/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="api-reference/telerik.windows.persistence.services/ipropertyvalidatorprovider-interface/ipropertyvalidatorprovider-methods/453dcc18-3cb7-56d5-fbbc-f8fddd761b6d.htm" redirectType="Found" />
                </rule>
                
                <rule name="redirect-api-reference-telerik.windows.persistence.services-itypeconverterprovider-interface" enabled="true">
                    <match url="^api-reference/telerik.windows.persistence.services/itypeconverterprovider-interface/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="api-reference/telerik.windows.persistence.services/itypeconverterprovider-interface/3c3907bc-7393-cf48-ac8f-a63f25dd0f34.htm" redirectType="Found" />
                </rule>
                
                <rule name="redirect-api-reference-telerik.windows.persistence.services-itypeconverterprovider-interface-itypeconverterprovider-methods" enabled="true">
                    <match url="^api-reference/telerik.windows.persistence.services/itypeconverterprovider-interface/itypeconverterprovider-methods/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="api-reference/telerik.windows.persistence.services/itypeconverterprovider-interface/itypeconverterprovider-methods/a6f4cd81-0d85-92e5-7d0b-883ec39e988f.htm" redirectType="Found" />
                </rule>
                
                <rule name="redirect-api-reference-telerik.windows.persistence.services-ivalueprovider-interface" enabled="true">
                    <match url="^api-reference/telerik.windows.persistence.services/ivalueprovider-interface/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="api-reference/telerik.windows.persistence.services/ivalueprovider-interface/76c70bfc-1c04-1430-c600-be15bd5ce0ae.htm" redirectType="Found" />
                </rule>
                
                <rule name="redirect-api-reference-telerik.windows.persistence.services-ivalueprovider-interface-ivalueprovider-methods" enabled="true">
                    <match url="^api-reference/telerik.windows.persistence.services/ivalueprovider-interface/ivalueprovider-methods/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="api-reference/telerik.windows.persistence.services/ivalueprovider-interface/ivalueprovider-methods/20a0e235-6f58-00d0-4ba8-d5dbbd39cd5f.htm" redirectType="Found" />
                </rule>
                
                <rule name="redirect-api-reference-telerik.windows.persistence.services-serviceprovider-class" enabled="true">
                    <match url="^api-reference/telerik.windows.persistence.services/serviceprovider-class/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="api-reference/telerik.windows.persistence.services/serviceprovider-class/1332d813-4177-3b21-8e59-0d76143e45cc.htm" redirectType="Found" />
                </rule>
                
                <rule name="redirect-api-reference-telerik.windows.persistence.services-serviceprovider-class-serviceprovider-methods" enabled="true">
                    <match url="^api-reference/telerik.windows.persistence.services/serviceprovider-class/serviceprovider-methods/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="api-reference/telerik.windows.persistence.services/serviceprovider-class/serviceprovider-methods/a2d4dbf9-f670-a4ea-5d2c-53eb1cd71cc6.htm" redirectType="Found" />
                </rule>
                
                <rule name="redirect-api-reference-telerik.windows.persistence.services-serviceprovider-class-serviceprovider-methods-unregisterpersistenceprovider-method-" enabled="true">
                    <match url="^api-reference/telerik.windows.persistence.services/serviceprovider-class/serviceprovider-methods/unregisterpersistenceprovider-method-/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="api-reference/telerik.windows.persistence.services/serviceprovider-class/serviceprovider-methods/unregisterpersistenceprovider-method-/652d9c39-413e-4f5f-01a8-b3e6c51d5cee.htm" redirectType="Found" />
                </rule>
                
                <rule name="redirect-api-reference-telerik.windows.persistence.services-valueproviderattribute-class" enabled="true">
                    <match url="^api-reference/telerik.windows.persistence.services/valueproviderattribute-class/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="api-reference/telerik.windows.persistence.services/valueproviderattribute-class/614d9f19-46e7-2ea0-ca3e-cb306d3098b3.htm" redirectType="Found" />
                </rule>
                
                <rule name="redirect-api-reference-telerik.windows.persistence.services-valueproviderattribute-class-valueproviderattribute-properties" enabled="true">
                    <match url="^api-reference/telerik.windows.persistence.services/valueproviderattribute-class/valueproviderattribute-properties/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="api-reference/telerik.windows.persistence.services/valueproviderattribute-class/valueproviderattribute-properties/b4546191-3d0e-30f6-08b3-bf0514b3cbe2.htm" redirectType="Found" />
                </rule>
                
                <rule name="redirect-api-reference-telerik.windows.shapes" enabled="true">
                    <match url="^api-reference/telerik.windows.shapes/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="api-reference/telerik.windows.shapes/9303a995-a78f-5375-6aed-15d21b6b27db.htm" redirectType="Found" />
                </rule>
                
                <rule name="redirect-api-reference-telerik.windows.shapes-arc-class" enabled="true">
                    <match url="^api-reference/telerik.windows.shapes/arc-class/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="api-reference/telerik.windows.shapes/arc-class/0b04b607-10b3-7aaf-8412-4905671d9227.htm" redirectType="Found" />
                </rule>
                
                <rule name="redirect-api-reference-telerik.windows.shapes-arc-class-arc-fields" enabled="true">
                    <match url="^api-reference/telerik.windows.shapes/arc-class/arc-fields/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="api-reference/telerik.windows.shapes/arc-class/arc-fields/c7e83fc4-eb34-e0b2-2b9f-35b53abfc858.htm" redirectType="Found" />
                </rule>
                
                <rule name="redirect-api-reference-telerik.windows.shapes-arc-class-arc-properties" enabled="true">
                    <match url="^api-reference/telerik.windows.shapes/arc-class/arc-properties/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="api-reference/telerik.windows.shapes/arc-class/arc-properties/8e3a79a5-5c31-4e40-1af0-4e7172ecaff5.htm" redirectType="Found" />
                </rule>
                
                <rule name="redirect-api-reference-telerik.windows.shapes-diamond-class" enabled="true">
                    <match url="^api-reference/telerik.windows.shapes/diamond-class/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="api-reference/telerik.windows.shapes/diamond-class/16a9bf79-7217-1b96-ca53-50eacb289378.htm" redirectType="Found" />
                </rule>
                
                <rule name="redirect-api-reference-telerik.windows.touch.behaviors" enabled="true">
                    <match url="^api-reference/telerik.windows.touch.behaviors/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="api-reference/telerik.windows.touch.behaviors/588ddb9e-8ac3-e962-9862-eb982d33fb2b.htm" redirectType="Found" />
                </rule>
                
                <rule name="redirect-api-reference-telerik.windows.touch.behaviors-touchinputbehavior-class" enabled="true">
                    <match url="^api-reference/telerik.windows.touch.behaviors/touchinputbehavior-class/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="api-reference/telerik.windows.touch.behaviors/touchinputbehavior-class/2961677c-347c-c940-93c9-dd091b63f595.htm" redirectType="Found" />
                </rule>
                
                <rule name="redirect-api-reference-telerik.windows.touch.behaviors-touchinputbehavior-class-touchinputbehavior-methods" enabled="true">
                    <match url="^api-reference/telerik.windows.touch.behaviors/touchinputbehavior-class/touchinputbehavior-methods/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="api-reference/telerik.windows.touch.behaviors/touchinputbehavior-class/touchinputbehavior-methods/9db5165a-8872-66c0-4527-b20439a417e1.htm" redirectType="Found" />
                </rule>
                
                <rule name="redirect-api-reference-telerik.windows.touch.behaviors-touchinputbehavior-class-touchinputbehavior-properties" enabled="true">
                    <match url="^api-reference/telerik.windows.touch.behaviors/touchinputbehavior-class/touchinputbehavior-properties/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="api-reference/telerik.windows.touch.behaviors/touchinputbehavior-class/touchinputbehavior-properties/326372dc-aca2-2139-491d-14f7aedf8df5.htm" redirectType="Found" />
                </rule>
                
                <rule name="redirect-api-reference-telerik.windows.touch.behaviors-touchinteraction-class" enabled="true">
                    <match url="^api-reference/telerik.windows.touch.behaviors/touchinteraction-class/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="api-reference/telerik.windows.touch.behaviors/touchinteraction-class/c20b97b2-b48c-d681-d32f-5d7cbb4327fb.htm" redirectType="Found" />
                </rule>
                
                <rule name="redirect-api-reference-telerik.windows.touch.behaviors-touchinteraction-class-touchinteraction-attached-properties" enabled="true">
                    <match url="^api-reference/telerik.windows.touch.behaviors/touchinteraction-class/touchinteraction-attached-properties/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="api-reference/telerik.windows.touch.behaviors/touchinteraction-class/touchinteraction-attached-properties/7800bbc8-42e8-754e-5f6b-4f28c098c237.htm" redirectType="Found" />
                </rule>
                
                <rule name="redirect-api-reference-telerik.windows.touch.behaviors-touchinteraction-class-touchinteraction-fields" enabled="true">
                    <match url="^api-reference/telerik.windows.touch.behaviors/touchinteraction-class/touchinteraction-fields/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="api-reference/telerik.windows.touch.behaviors/touchinteraction-class/touchinteraction-fields/d69646b3-9994-323a-8501-b189c5be339e.htm" redirectType="Found" />
                </rule>
                
                <rule name="redirect-api-reference-telerik.windows.touch.behaviors-touchinteraction-class-touchinteraction-methods" enabled="true">
                    <match url="^api-reference/telerik.windows.touch.behaviors/touchinteraction-class/touchinteraction-methods/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="api-reference/telerik.windows.touch.behaviors/touchinteraction-class/touchinteraction-methods/fa1d6cc4-0f00-ae2a-fba5-8922f0950f8a.htm" redirectType="Found" />
                </rule>
                
                <rule name="redirect-radpivotgrid" enabled="true">
                    <match url="^radpivotgrid/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="radpivotgrid/overview" redirectType="Found" />
                </rule>
                
                <rule name="redirect-radpivotgrid-features" enabled="true">
                    <match url="^radpivotgrid/features/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="radpivotgrid/features/layouts" redirectType="Found" />
                </rule>
                
                <rule name="redirect-radpivotgrid-features-localdatasourceprovider" enabled="true">
                    <match url="^radpivotgrid/features/localdatasourceprovider/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="radpivotgrid/features/localdatasourceprovider/aggregation-functions" redirectType="Found" />
                </rule>
                
                <rule name="redirect-radpivotgrid-features-olap-providers" enabled="true">
                    <match url="^radpivotgrid/features/olap-providers/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="radpivotgrid/features/olap-providers/sorting-olap" redirectType="Found" />
                </rule>
                
                <rule name="redirect-radpivotgrid-features-queryabledataprovider" enabled="true">
                    <match url="^radpivotgrid/features/queryabledataprovider/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="radpivotgrid/features/queryabledataprovider/queryable-calc-fields" redirectType="Found" />
                </rule>
                
                <rule name="redirect-radpivotgrid-populating-with-data" enabled="true">
                    <match url="^radpivotgrid/populating-with-data/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="radpivotgrid/populating-with-data/data-localdatasource" redirectType="Found" />
                </rule>
                
                <rule name="redirect-radpivotgrid-styles-and-templates" enabled="true">
                    <match url="^radpivotgrid/styles-and-templates/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="radpivotgrid/styles-and-templates/templating-cells" redirectType="Found" />
                </rule>
                
                <rule name="redirect-radpivotgrid-changes-and-backwards-compatibility" enabled="true">
                    <match url="^radpivotgrid/changes-and-backwards-compatibility/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="radpivotgrid/changes-and-backwards-compatibility/changes" redirectType="Found" />
                </rule>
                
                <rule name="redirect-radpivotgrid-events" enabled="true">
                    <match url="^radpivotgrid/events/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="radpivotgrid/events/overview" redirectType="Found" />
                </rule>
                
                <rule name="redirect-radpivotgrid-getting-started" enabled="true">
                    <match url="^radpivotgrid/getting-started/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="radpivotgrid/getting-started/started-understanding-pivot" redirectType="Found" />
                </rule>
                
                <rule name="redirect-radpivotgrid-how-to" enabled="true">
                    <match url="^radpivotgrid/how-to/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="radpivotgrid/how-to/howto-set-http-access-to-sqlserver" redirectType="Found" />
                </rule>
                
                <rule name="redirect-radpivotgrid-radpivotfieldlist" enabled="true">
                    <match url="^radpivotgrid/radpivotfieldlist/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="radpivotgrid/radpivotfieldlist/fieldlist-started" redirectType="Found" />
                </rule>
                
                
                <rule name="add_html_extension" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.html" />
                </rule>
            </rules>
        </rewrite>
		<httpProtocol> 
          <customHeaders> 
             <add name="Cache-Control" value="no-cache" /> 
             </customHeaders> 
         </httpProtocol> 

        <staticContent>
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
        </staticContent>
    </system.webServer>
    
</configuration>
